/*
|----------------------------------------------------------------------------
| CSS INDEX
|----------------------------------------------------------------------------


1. General Style

2. Main header Style

3. Main Banner Style

4. Breadcrumb Style

5. About Style

6. Blog Style

7. Team Style

8. Listing Catagory Style

9. Popular Cities Style

10. Working Process Style

11. Single Style

12. Widgets Style

13. Single Style

14. Testimonial Style

15. Call to action Style

16. Working Map Style

17. Pricing Style

18. Form Style

19. Map Style

20. Listing Map Style

21. Add listing Style

22. Pagination Style

23. Contact Style

24. 404 Style

25. Dashboard Style

26. Footer Style
*/


/*
|----------------------------------------------------------------------------
| 1. General Style
|----------------------------------------------------------------------------
*/
html, html a {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.listing-post-map {
    height: 502px;
}

body {
    /*width: 100%;*/
    /*max-width:970px !important;margin:auto;*/
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #111;
    font-weight: 400;
    background: transparent;
    text-rendering: optimizeLegibility;
}

p {
    line-height: 26px;
    font-size: 14px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    line-height: 100%;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

img {
    -o-object-fit: cover;
    object-fit: cover;
    display: inline-block;
}

.img-responsive {
    /*width:300px;*/
    /*height:70px;*/
    height: 50px;
    display: block;
}

a {
    /*color: inherit;*/
    text-decoration: none;
    display: inline-block;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
}

    a:hover, a:focus {
        text-decoration: none;
        color: #111;
        outline: 0;
    }

button {
    font-family: "Poppins", sans-serif;
}

iframe {
    border: 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /*background: rgba(17, 17, 17, 0.7);*/
}

.social-with-label span {
    margin-right: 10px;
}

.social-with-label ul, .social-with-label span {
    display: inline-block;
}

    .social-with-label ul.social {
        width: calc(100% - 120px);
    }

/*--- section title style --*/
.section-title {
    text-align: center;
    margin-bottom: 45px;
}

    .section-title h2 {
        margin-bottom: 0;
        line-height: 62px;
    }

    .section-title p {
        margin-bottom: 0;
    }

/*--- all button style --*/
.icon-btn {
    width: 177px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    border: none;
}

    .icon-btn:hover, .icon-btn:focus, .icon-btn:active {
        color: #fff;
        outline: 0;
    }

    .icon-btn i.fa {
        margin-right: 5px;
    }

a[class^='icon-btn-'] {
    width: 130px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    border-radius: 3px;
    margin: 0 5px;
}

    a[class^='icon-btn-'] i.fa {
        margin-right: 5px;
    }

.icon-btn-fb {
    background: #3b5998;
}

.icon-btn-tw {
    background: #1da1f2;
}

.icon-btn-gplus {
    background: #dd4b39;
}

.adining-listing-btn {
    background-color: #fd880a;
}

    .adining-listing-btn:hover, .adining-listing-btn:focus, .adining-listing-btn:active {
        background-color: rgba(253, 136, 10, 0.78);
    }

.explore-listing-btn {
    background-color: #9dcb45;
}

    .explore-listing-btn:hover, .explore-listing-btn:focus, .explore-listing-btn:active {
        background-color: rgba(127, 186, 0, 0.78);
    }

.listing-btn-cmn,
.contact-btn {
    width: 117px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background-color: #fd880a;
}

    .listing-btn-cmn:hover, .listing-btn-cmn:focus, .listing-btn-cmn:active,
    .contact-btn:hover,
    .contact-btn:focus,
    .contact-btn:active {
        color: #fff;
        background-color: rgba(253, 136, 10, 0.78);
    }

.pricing-btn {
    width: 213px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    color: #111;
    border: 1px solid #e7e7e7;
    background: transparent;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

    .pricing-btn:hover, .pricing-btn:focus, .pricing-btn:active {
        color: #fff;
        border-color: #fd880a;
        background: #fd880a;
    }

.form-btn {
    width: 100%;
    height: 45px;
    color: #fff;
    background: #fd880a;
    border: none;
    cursor: pointer;
}

    .form-btn:focus {
        outline: 0;
    }

.rate-btn {
    width: 64px;
    height: 26px;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    border: 1px solid #9dcb45;
    margin-right: 5px;
}

    .rate-btn i.fa {
        margin-right: 5px;
    }

.listing-btn-large {
    width: 185px;
    height: 45px;
    line-height: 45px;
    background: #fd880a;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

    .listing-btn-large:focus, .listing-btn-large:active, .listing-btn-large:hover {
        outline: 0;
        color: #fff;
    }

.success-btn,
.danger-btn {
    width: 110px;
    height: 40px;
    border-radius: 3px;
    line-height: 40px;
    color: #fff;
    border: none;
    text-align: center;
}

    .success-btn:focus, .success-btn:active, .success-btn:hover,
    .danger-btn:focus,
    .danger-btn:active,
    .danger-btn:hover {
        outline: 0;
        color: #fff;
    }

.success-btn {
    background: #9dcb45;
}

.danger-btn {
    background: #f70;
}

.border-btn {
    height: 34px;
    width: 95px;
    border: 1px solid #e7e7e7;
    text-align: center;
    line-height: 31px;
}

/*-- social-share --*/
.social-share-block {
    display: inline-block;
    text-align: right;
    position: absolute;
}

    .social-share-block:hover .social-list {
        opacity: 1;
        visibility: visible;
    }

    .social-share-block:hover button {
        color: #fd880a;
    }

    .social-share-block button {
        background: transparent;
        border: none;
        cursor: pointer;
        color: #fff;
        padding-right: 0;
        -webkit-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }

        .social-share-block button:hover, .social-share-block button:focus, .social-share-block button:active {
            border: none;
            outline: 0;
        }

.social-list {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 0;
    width: 170px;
    background: #fff;
    padding: 3px 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

    .social-list li {
        list-style: none;
        margin: 0 5px;
        display: inline-block;
    }

        .social-list li a {
            color: #111;
            -webkit-transition: 0.3s ease-in;
            -o-transition: 0.3s ease-in;
            transition: 0.3s ease-in;
        }

            .social-list li a:hover, .social-list li a:active, .social-list li a:focus {
                color: #fd880a;
            }

/*--- social icon style --*/
ul.social {
    margin: 0;
    padding: 0;
    display: inline-block;
}

    ul.social li {
        list-style: none;
        display: inline-block;
        margin: 0 8px;
    }

        ul.social li a {
            color: #fff;
            -webkit-transition: 0.3s ease-in;
            -o-transition: 0.3s ease-in;
            transition: 0.3s ease-in;
        }

            ul.social li a:hover, ul.social li a:active, ul.social li a:focus {
                color: #fd880a;
            }

.gallary-section {
    padding: 100px 0 70px 0;
}

.gallary-image {
    margin-bottom: 30px;
}

/*-- Blog Common Style -- */
.post-thumb {
    position: relative;
}

.post-model {
    width: 80%;
    max-width: none;
    position: relative;
}

    .post-model .close {
        position: absolute;
        right: -20px;
        top: -10px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #fd880a;
        text-align: center;
        color: #fff;
        line-height: 30px;
        z-index: 9;
        opacity: 1;
        font-size: 20px;
        font-weight: 400;
    }

        .post-model .close:hover, .post-model .close:focus, .post-model .close:active {
            outline: 0;
        }

    .post-model .modal-content {
        background: transparent;
    }

    .post-model .popular-listing-post {
        height: 502px;
    }

        .post-model .popular-listing-post .post-thumb img {
            width: 100%;
        }

/*** Form and inputs ***/
input:not([type=submit]):not([type=radio]):not([type=checkbox]):focus, select:focus, textarea:focus {
    outline: none;
}



/*---------------------------------------
2. Main header Style
---------------------------------------*/
.main-wrapper {
    width: 100%;
}

.header-wrap .logo {
    padding: 10px 0 5px 0;
}

.postadd-btn {
    margin-top: 20px;
    height: 24px;
    width: 100%;
    border: 1px solid #e7e7e7;
    text-align: center;
    line-height: 26px;
    color: #fd880a;
}

.headerbuttons {
    padding-top: 0px;
    padding-right: 0px;
}


.Button--transparentLight {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.Button--white {
    background-color: #fff;
    border-color: #fff;
    color: #005a9e;
}

.Button-postadd {
    transition: all 167ms cubic-bezier(.1,.9,.2,1);
    background-color: #f70;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    /*font-family: "Segoe UI Web Semibold","Segoe UI Semibold WestEuropean","Segoe UI Semibold","Segoe UI",Tahoma,Arial,sans-serif;*/
    font-size: 16px;
    height: 42px;
    max-width: 164px;
    padding: 7px 1px;
    text-align: center;
    margin-right: 0;
    float: right;
    width: 100%;
}

.Button-login {
    transition: all 167ms cubic-bezier(.1,.9,.2,1);
    /*background-color: transparent;*/
    background-color: #337ab7;
    border: 1px solid  #fff;
    /*color: #f70;*/
    color: #FFFFFF;
    cursor: pointer;
    /*font-family: "Segoe UI Web Semibold","Segoe UI Semibold WestEuropean","Segoe UI Semibold","Segoe UI",Tahoma,Arial,sans-serif;*/
    font-size: 16px;
    height: 42px;
    max-width: 164px;
    padding: 7px 1px;
    text-align: center;
    margin-right: 0;
    float: right;
    width: 100%;
}


.post-btn {
    float: right;
}

    .post-btn a {
        width: 100%;
        text-decoration: none;
        background: #4d1ca7;
        font-size: 14px;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        color: #fff;
        padding: 12px 20px;
    }

        .post-btn a:hover {
            background: #ff7800;
        }


/****************************************************
			    Footer css
****************************************************/


.footer-wrap {
    /*background: url(../../images/icons-bg.PNG) no-repeat top;*/
    padding-top: 30px;
    background-size: cover;
    background-color:#337ab7;
}

    .footer-wrap h3 {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .footer-wrap p {
        font-size: 14px;
        line-height: 24px;
        /*color: #b3b3b3;*/
        color:white;
        margin-top: 15px;
    }

        .footer-wrap p a {
            color: #fff;
            text-decoration: underline;
            font-style: italic;
        }

            .footer-wrap p a:hover {
                text-decoration: none;
                color: #ff7800;
            }

    .footer-wrap .start-btn {
        text-align: left;
        margin-top: 15px;
    }

        .footer-wrap .start-btn a {
            width: 160px;
            font-size: 16px;
            height: 49px;
        }

            .footer-wrap .start-btn a:hover {
                background: #FFF;
                color: #000;
            }

.footer-links {
    list-style: none;
}

    .footer-links li {
    }

        .footer-links li a {
            font-size: 14px;
            line-height: 26px;
            /*color: #b3b3b3;*/
            color:white;
            text-decoration: none;
        }

            .footer-links li a:hover {
                color: #ff7800;
            }

        .footer-links li:before {
            content: "\f105";
            font-family: 'FontAwesome';
            padding-right: 10px;
            color: #b3b3b3;
        }

.footer-category {
    list-style: none;
}

    .footer-category li {
        float: left;
        width: 50%;
    }

        .footer-category li a {
            font-size: 14px;
            line-height: 26px;
            color: #b3b3b3;
            text-decoration: none;
        }

            .footer-category li a:hover {
                color: #ff7800;
            }

        .footer-category li:before {
            content: "\f105";
            font-family: 'FontAwesome';
            padding-right: 10px;
            color: #b3b3b3;
        }

.address {
    font-size: 14px;
    /*color: #b3b3b3;*/
    color:white;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

    .address:before {
        content: "\f277";
        font-family: 'FontAwesome';
        position: absolute;
        top: 0;
        left: 0;
    }

.info a {
    font-size: 14px;
    /*color: #b3b3b3;*/
    color:white;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.info i {
    padding-right: 8px;
    color: #b3b3b3;
}

.copyright {
    border-top: 1px solid #5f5f5f;
    font-size: 14px;
    color: #b3b3b3;
    margin-top: 25px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.showcontactmobile {
    display: none;
}


@media screen and (max-width: 991px) {
    .logo {
        text-align: center;
        margin-bottom: 5px;
    }

    .post-btn {
        text-align: center;
        float: none;
    }

    .headerbuttons {
        padding-right: 20px;
        padding-top: 0px;
        margin-bottom: 5px;
    }

    .showcontactmobile {
        display: block;
    }

    .showcontactdesktop {
        display: none;
    }
}
