@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
body {
    /*padding-top: 5px;
    paddin;g-bottom: 20px;*/
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

 
.navbar-brand {
    line-height: 98px;
    height: 98px;
    padding: 0px;
    margin: 0;
}

    .navbar-brand img {
        height: 92px;
        width: 92px;
        padding: 0;
    }

.logo-title {
    top: 50px;
    position: absolute;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#navbar2 {
    padding-top: 35px;
}

.nav-freead {
    color: white;
    background-color: #ff7700;
    font-weight: bold;
}

#navbar2 ul li a {
    line-height: 12px;
}

@media(max-width:768px) {
    .logo-title {
        top: 23px;
        position: absolute;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }

    .navbar-brand {
        line-height: 50px;
        height: 50px;
        padding: 0;
    }

        .navbar-brand img {
            height: 100%;
            width: 50px;
        }

    #navbar2 {
        padding-top: 0px;
    }
}


.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

.category {
    border: 1px solid transparent;
    border-radius: 0;
    transition: all 3s ease;
    text-align: center;
    min-height: 135px;
}

    .category:hover {
        cursor: pointer;
    }

    .category a {
        margin-bottom: 5px;
    }

    .category span {
        text-align: center;
        color: #2965be;
    }

        .category span:hover {
            text-align: center;
            color: #f70;
        }

.category-item {
    height: 60px;
    width: 60px;
    background-color: #f2f7f7;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #f2f7f7;
    padding-top: 10px;
    margin: auto;
    color: #f70;

}

.footer-banner {
    background: url(../images/background.png) no-repeat;
    height: 200px;
    width: 100%;
    border: 1px solid white;
    content: "";
}

.footer-navigation {
}

.footer-navigation ul {
    list-style: none;
}

.footer-navigation li a {
    color: #414141;
    cursor: pointer;
    text-decoration: none;
}

.footer-navigation li span:hover {
    color: #f70;
    cursor: pointer;
}

.footer-navigation li a:hover {
    color: #f70;
    cursor: pointer;
}

.footer-sharelinks ul {
    list-style: none;
}

.footer-sharelinks ul li {
    display: inline;
}
/* customised css */
body{
    background: #f4f4f4;
    font-family: 'Titillium Web', sans-serif;
    color: #7b818c;
    font-weight: 400;
    min-height: 500px;
}
.main-wrapper{
    position: relative;
}
/*.main-wrapper{
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-top: 0.5em solid #5385c1;
}*/
header{
    padding: 10px 0;
    background: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
}
.body-wrapper{
    padding-top: 125px;
}
.logo img{
    height: 75px;
}
.search-bar{
    padding: 10px;
   // background: rgba(83, 133, 193, 0.3);
    border-radius: 9px;
}
.search-bar a{
    color: #ffffff;
    font-size: 30px;
    display: block;
    margin-left: -30px;
    border: 1px solid #2965be;
    background: #2965be;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-bar a>span{
    margin-left: 14px;
}
.search-bar-inner{
    margin-top: 5px;
    /*padding: 15px;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)), url(../images/bg02.png);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)), url(../images/bg02.png);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)), url(../images/bg02.png);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)), url(../images/bg02.png);
    background-color: #5385c1;
    background-color: rgb(83, 133, 193);
    border-radius: 8px;
    box-shadow: inset 0px 0px 0px 1px rgb(32, 91, 162), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.15);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);*/

}
.search-bar-inner input{
    border-radius: 0;
}
.search-item-1{
    margin-right: -15px;
}
.search-item-1 input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
}
.search-item-2{
    margin-left: -15px
}
.search-item-2 input{
    border-radius: 0;
    border-right-width: 0;
}
.grid{
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    margin-bottom: 15px;
    margin-right: -7px;
    margin-left: -7px;
}
.grid .image{
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    position: relative;
    display: block;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
body:not(.is-touch) .grid:hover > .image {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.grid .image:before{
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
    -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
    -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    z-index: 1;
    opacity: 0.8;
}
.grid .image img{
    display: block;
    width: 100%;
}
.grid .image:before{
    background: #2965be6e;
}
.left-column{
    padding: 10px 0;
    background: #ffffff;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
}
.grid > a{
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
    -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
    -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
    transition: background-color 0.5s ease, transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 4px;
    border-bottom: 0;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    z-index: 3;
}
.grid a>.content{
    -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
    -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
    -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    width: 100%;
    max-height: 0;
    line-height: 1.5;
    margin-top: 0.35em;
    opacity: 0;
}
body:not(.is-touch) .grid:hover .content {
    max-height: 15em;
    opacity: 1;
}
.left-container{
    padding: 20px 25px;
    background: #ffffff;
    position: relative;
}
.left-container::after{
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    content:'';
    width: 2px;
    background: rgba(160, 160, 160, 0.3);
    margin-right: -15px;
}
.right-container{
    background: #ffffff;
    min-height: 354px;
}
.slider-container{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.3);
}
.grid-menu{
    //background: #ffffff;
}
footer{
    background: #ffffff;
    margin-top: 50px;
}
