@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
body {
    /*padding-top: 5px;
    paddin;g-bottom: 20px;*/
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1080px;
}

.navbar-brand {
    line-height: 98px;
    height: 98px;
    padding: 0px;
    margin: 0;
}

    .navbar-brand img {
        height: 92px;
        width: 92px;
        padding: 0;
    }

.logo-title {
    top: 50px;
    position: absolute;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#navbar2 {
    padding-top: 35px;
}

.nav-freead {
    color: white;
    background-color: #ff7700;
    font-weight: bold;
}

#navbar2 ul li a {
    line-height: 12px;
}

@media(max-width:768px) {
    .logo-title {
        top: 23px;
        position: absolute;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }

    .navbar-brand {
        line-height: 50px;
        height: 50px;
        padding: 0;
    }

        .navbar-brand img {
            height: 100%;
            width: 50px;
        }

    #navbar2 {
        padding-top: 0px;
    }
}


.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

.category {
    border: 1px solid transparent;
    border-radius: 0;
    transition: all 3s ease;
    text-align: center;
    min-height: 135px;
}

    .category:hover {
        cursor: pointer;
    }

    .category a {
        margin-bottom: 5px;
    }

    .category span {
        text-align: center;
        color: #2965be;
    }

        .category span:hover {
            text-align: center;
            color: #f70;
        }

.category-item {
    height: 60px;
    width: 60px;
    background-color: #f2f7f7;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #f2f7f7;
    padding-top: 10px;
    margin: auto;
    color: #f70;

}

.footer-banner {
    /*background: url(../images/background.png) no-repeat;
    height: 200px;*/
    width: 100%;
    border: 1px solid white;
    content: "";
}

.footer-navigation {
    padding-top: 30px; 
}

.footer-navigation ul {
    list-style: none;
}

.footer-navigation li a {
    display: block;
    color: #414141;
    cursor: pointer;
    text-decoration: none;
    padding: 3px 0;
}

.footer-navigation li span:hover {
    color: #f70;
    cursor: pointer;
}

.footer-navigation li a:hover {
    color: #f70;
    cursor: pointer;
}

.footer-sharelinks ul {
    list-style: none;
}

.footer-sharelinks ul li {
    display: inline;
}
/* customised css */
body{
    background: #f4f4f4;
    font-family: 'Titillium Web', sans-serif;
    color: #7b818c;
    font-weight: 400;
    min-height: 500px;
}
.main-wrapper{
    position: relative;
}

header{
    padding: 10px 0;
    background: #ffffff;
    position: fixed;
    z-index: 99;
    width: 100%;
}
.body-wrapper{
    padding-top: 125px;
}
.logo img{
    max-width: 200px;
}
.search-bar{
    //padding: 10px;
   // background: rgba(83, 133, 193, 0.3);
    border-radius: 9px;
}
.search-bar .search-btn{
    color: #ffffff;
    font-size: 27px;
    display: block;
    margin-left: -30px;
    border: 1px solid #0c7db4;
    background: #0c7db4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-bar a>span{
    margin-left: 10px;
}
.dropdown-menu .location-btn{
    display: block;
    border: 0;
    padding: 6px 0px 6px 15px;
}
.dropdown-menu li, .top-cities > span.active, .states > span{
    border-bottom: 1px solid #b0dcf1;
}
.dropdown-menu li:last-child{
    border-bottom: 0;
}
.top-cities ul, .states ul{
    list-style: none;
    padding: 0;
    max-height: 152px;
    overflow-x: auto;
}
.states ul{
    max-height:120px;
}
.top-cities span{
    position: relative;
}
.top-cities ul{
    display: none;
}
.top-cities span:after{
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    font-weight: normal;
    margin-right: 16px;
    margin-top: 5px;
}
.top-cities span.active:after {
    content: "\e113";
}
.top-cities > ul > li > a, .dropdown-menu .top-cities > span, .states > ul > li > a, .states > span{
    display:block;
    padding: 6px 0 6px 15px;
    text-decoration: none;
    color: #1274c0;
    cursor: pointer;
}
.top-cities > ul > li:hover > a, .dropdown-menu .top-cities > span:hover{
    background: #1274c0;
    color: #ffffff;
}
.search-bar-inner{
    margin-top: 5px;
}
.search-bar-inner input{
    border-radius: 0;
    border-color: #0c7db4;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #09558c;

}
.search-item-1{
    margin-right: -15px;
    position:relative;
    margin-left: -15px;
    margin-top: 3px;
}
.search-item-1 > input{
    border: none;
    padding: 8px;
    color: #7b818c;
    text-align: left;
    background: #F1EDEC;
    font-size: 16px;
}
.search-item-1::after, .category-search::after {
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    font-weight: normal;
    margin-right: 4px;
    margin-top: 10px;
}
.search-item-1::after{
     content: "\e062";
}
.category-search::after{
    content: "\e114";
}
.search-item-1 .dropdown-menu{
    max-height: 220px;
    padding-top: 0;
    overflow: hidden;
}
.category-search{
    margin-right:-16px;
    position: relative;
}
.category-search .model-window{
    display: none;
    background: #ffffff;
    position: absolute;
    width: 443px;
    top: 40px;
    left: 0;
    box-shadow: 0px 0px 2px inset;
    margin-top: 2px;
}
.category-search .model-header ul, .category-search .model-body ul{
   padding: 0;
   list-style: none;
   display: table;
   width: 100%;
   margin: 0;
}
.category-search .model-body ul{
    border-top: 1px solid;
    display:none;
}
.category-search .model-body ul:first-child{
    display:block;
}
.category-search .model-header ul li{
  display: table-cell;
  border-right: 1px solid;
}
.category-search .model-header ul li:last-child{
  border-right: 0;
}
.category-search .model-header ul li a, .category-search .model-body ul li a{
    display: block;
    padding: 5px 10px;
}
.category-search > input{
    padding-left: 0;
}
.search-item-2{
    margin-left: -15px
}
.search-item-2 input{
    border-radius: 0;
    border-right-width: 0;
}
.grid{
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    margin-bottom: 15px;
    margin-right: -7px;
    margin-left: -7px;
}
.grid .image{
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    position: relative;
    display: block;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
body:not(.is-touch) .grid:hover > .image {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.grid .image:before{
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
    -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
    -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    z-index: 1;
    opacity: 0.8;
    border-radius: 50%;
}
.grid .image img{
    display: block;
    width: 100%;
    border-radius:50%;
    border: 1px solid #dbdbdb;
}
.grid a h3{
    font-size: 0px;
    -moz-transition: all 0.5s ease, -moz-transform 0.5s ease;
    -webkit-transition: all 0.5s ease, -webkit-transform 0.5s ease;
    -ms-transition: all 0.5s ease, -ms-transform 0.5s ease;
    transition: all 0.5s ease, transform 0.5s ease;
    text-shadow: 2px 1px 1px #080808;
}
.grid:hover a h3{
    display: block;
    font-size: 22px;
}
.grid:hover .image:before{
    background: #0c7db4a1;
}
.left-column{
    padding: 10px 0;
    background: #ffffff;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
}
.grid > a{
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
    -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
    -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
    transition: background-color 0.5s ease, transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius:50%;
    height: 100%;
    padding: 1em;
    border-bottom: 0;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    z-index: 3;
}
.grid a>.content{
    -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
    -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
    -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    width: 100%;
    max-height: 0;
    line-height: 1.5;
    margin-top: 0.35em;
    opacity: 0;
}
body:not(.is-touch) .grid:hover .content {
    max-height: 15em;
    opacity: 1;
}
.left-container{
    padding: 20px 25px;
    background: #ffffff;
    position: relative;
}
.left-container::after{
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    content:'';
    width: 2px;
    background: rgba(160, 160, 160, 0.3);
    margin-right: -15px;
}
.right-container{
    background: #ffffff;
    min-height: 354px;
}
.slider-container{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.3);
}
.login, .free-add{
    float: left;
}
.login a{
    display: inline-block;
    color: #0c7db4;
    font-size: 14px;
    margin-right: 6px;
    margin-top: 15px;
}
.free-add input{
    font-weight: bold;
    padding: 6px 6px;
}
.grid-menu{
    //background: #ffffff;
}
footer{
    background: #ffffff;
    margin-top: 50px;
}
.sec{
    max-width: 650px;
    margin: 0 auto;
}
.post-add{
    background: #ffffff;
}
img {
    width:100%;
}
.grid-item .grid-img{
    border-radius: 50%;
    border: 1px solid #7b818c;
    overflow: hidden;
}
.content-footer{
    text-align: right;
    margin-bottom: 20px;
}
.sec h2, .sec .form-control, .sec select{
    margin: 30px 0;
    color: #0c7db4;
}
.sec label{
    margin: 30px 0;
    display: block;
    text-align: right;
}
.grid-item{
    margin-bottom:30px;
}
.section{
    display: none;
}
.section.sec-1{
    display: block;
}
.sec-1 h3, .sec-2 h3, .sec-3 h3, .sec-4 h3{
    display: inline-block;
    color: #0c7db4;
    padding: 15px 0 15px 0px;
    margin: 0;
}
.sec-1 h3{
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 60px;
}
.top-sec, .header.open{
    border-bottom: 1px solid #cccccc;
}
.header .selected{
    display: none;
}
.header .selected a{
    margin-top: 20px;
}
.header.open .selected{
    display: block;
    margin: 20px 0;
}
.header.open h2{
    display: none;
}
.grid-img{
    opacity: 0.5;
}
.grid-img.active{
    opacity: 1;
}
.top-sec h1{
    color: #ff7700;
}
.border-theme {
    margin-bottom: 8px;
    position: relative;
}
.border-theme:after {
   position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 8px solid;
    margin-bottom: -8px;
}
.blue-border{
    background: blue;
}
.border-theme.blue-border:after{
     border-top-color: blue;
}
.green-border{
    background: green;
}
.border-theme.green-border:after{
     border-top-color: green;
}
.violet-border{
    background: violet;
}
.border-theme.violet-border:after{
     border-top-color: violet;
}
.orange-border{
    background: orange;
}
.border-theme.orange-border:after{
     border-top-color: orange;
}
.border.first .blue-border{
    height: 8px;
}
.border.first .green-border{
    height: 1px;
    margin-right: 10px;
    margin-left: 10px;
}
.border.first .violet-border{
    height: 1px;
    margin-right: 20px;
    margin-left: 20px;
}
.border.first .orange-border{
    height: 1px;
    margin-right: 30px;
    margin-left: 30px;
}
.content-footer .btn{
    background: #f70;
    border-color: #f70;
    width: 100px;
    padding: 10px 0;
    font-size: 16px;
}
.content{
    border-bottom: 1px solid #cccccc;
}
.sec1 .border .blue-border{
    display: none;
}
.sec1 .border .green-border{
    height: 8px;
    margin-right: 0;
    margin-left: 0;
}
.sec1 .border .violet-border{
    margin-right: 10px;
    margin-left: 10px;
}
.sec1 .border .orange-border{
    margin-right: 20px;
    margin-left: 20px;
}
.sec2 .border .green-border{
    display: none;
}
.sec2 .border .violet-border{
    height: 8px;
    margin-right: 0;
    margin-left: 0;
}
.sec2 .border .orange-border{
   margin-right: 10px;
    margin-left: 10px;
}
.sec3 .border .violet-border{
    display: none;
}
.sec3 .border .orange-border{
    height: 8px;
    margin-right: 0;
    margin-left: 0;
}
#category-list1, #category-list2{
    display: none;
}
.search-bar-inner .input-lg{
    height: 40px;
    padding: 6px 20px 6px 10px;
}
.search-bar-inner .category-search .input-lg{
    /*padding-right: 0;
    border-right: 20px solid #ffffff;*/
}
.easy-autocomplete, .easy-autocomplete input{
    width: 100% !important;
}
.logo{
    margin-top: 10px;
}