
@{
    Layout = null;
}
<style>
    .ui-autocomplete {
        cursor: pointer;
        height: 120px;
        overflow-y: scroll;
    }

    option {
        min-height: 100px !important;
        width: 50px !important;
        padding: 50px 0px !important;
    }
</style>
@using (Html.BeginForm("Index", "List", FormMethod.Post))
{
    <div class="filter-form filter-header-form">
        <div class="form-group outer-select-field">

            @*<a class="input-dropedown-btn catagory-btn" href="javascript:void(0)">
                    <i class="fa fa-bars" aria-hidden="true"></i> Categories
                </a>*@
            @*<select class="form-controls outer-select-input-box" id="listing_catagory_list" name="category">
                <option selected>Select Category</option>
            </select>*@

            <select   id="listing_catagory_list" name="category">
                <option selected>Select Category</option>
            </select>
          

            @*<input type="text" class="form-control outer-select-input-box" id="listing_catagory_list" placeholder="Ex: Car, Mobile">*@
        </div>
        <div class="form-group outer-select-field">

            @*<select class="form-control" id="listing_location_list">
                    <option selected>Select Location</option>
                </select>*@
            @*<a class="input-dropedown-btn location-btn" href="javascript:void(0)">
                    <i class="fa fa-crosshairs" aria-hidden="true"></i> Location
                </a>*@
            @*<input type="text" class="outer-select-input-box" id="listing_location_list" placeholder="Ex: Hyderabad, Warangal">*@
            <input type="text" id="listing_location_list" style="border:1px solid rgb(204, 204, 204);border-radius:0px" class="form-control outer-select-input-box" placeholder="Ex: Warangal, Hyderabad" name="location" />
            @*<select class="form-controls outer-select-input-box" id="listing_location_list" name="location">
                    <option selected>Select Location</option>
                </select>*@
        </div>
        <div class="form-group outer-select-field">
            @*<a class="input-dropedown-btn" href="javascript:void(0)">
                    <i class="fa fa-crosshairs" aria-hidden="true"></i> Keword
                </a>*@
            @*<input type="text" id="listing_location_list1" class="form-control outer-select-input-box" name="location1" />*@
            <input type="text" class="form-control outer-select-input-box" style="border:1px solid rgb(204, 204, 204);border-radius:0px" id="listing_keword" placeholder="Ex: Honda,Maruthi"  name="searchKeyword">
        </div>
        <div class="form-group outer-select-field">
            @*<a class="input-dropedown-btn" href="javascript:void(0)">
                <i class="fa fa-crosshairs" aria-hidden="true"></i> Keword
            </a>*@
            @*<input type="text" id="listing_location_list1" class="form-control outer-select-input-box" name="location1" />*@
            @*<select class="form-controls outer-select-rent-box" id="listing_catagory_list" name="category">
                <option selected>Rent</option>
                <option selected>Sale</option>
            </select>*@

            <select id="listing_rent_list" name="type" class="outer-select-rent-box">
                <option selected>Rent</option>
                <option>Sale</option>
            </select>

        </div>

        <div class="btn-group" id="divSearch">
            <button type="submit" class="danger-btn" id="btnSearch">
                <i class="ti-search" aria-hidden="true"></i>
                Search
            </button>

        </div>
    </div>
}
<link href="~/Content/CustomeNew/Index1.css" rel="stylesheet" type="text/css" />
<link href="~/Content/CssNew/responsive.css" rel="stylesheet" />
<link href="~/Content/CssNew/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/Home/selectron.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/Home/selectron.js"></script>
<script src="~/Scripts/List/search.js"></script>