
@{
    Layout = null;
}
<style>
    .ui-autocomplete {
        cursor: pointer;
        height: 120px;
        overflow-y: scroll;
    }
</style>

<form class="form-common filter-form filter-header-form">
    <div class="form-group outer-select-field">
       
        <select class="form-control" id="listing_catagory_list" >
            <option selected >Select Category</option>
        </select>
        @*<a class="input-dropedown-btn catagory-btn" href="javascript:void(0)">
            <i class="fa fa-bars" aria-hidden="true"></i> Categories
        </a>
        <input type="text" class="outer-select-input-box" id="listing_catagory_list" placeholder="Ex: Car, Mobile">*@
    </div>    
    <div class="form-group outer-select-field">
        <input type="text" id="listing_location_list" class="form-control"/>
        @*<select class="form-control" id="listing_location_list">
            <option selected>Select Location</option>
        </select>*@
        @*<a class="input-dropedown-btn location-btn" href="javascript:void(0)">
            <i class="fa fa-crosshairs" aria-hidden="true"></i> Location
        </a>
        <input type="text" class="outer-select-input-box" id="listing_location_list" placeholder="Ex: Hyderabad, Warangal">*@
    </div>
    <div class="form-group outer-select-field">
        <a class="input-dropedown-btn" href="javascript:void(0)">
            <i class="fa fa-crosshairs" aria-hidden="true"></i> Keword
        </a>
        <input type="text" class="outer-select-input-box" id="listing_keword" placeholder="Ex: Honda, Maruthi">
    </div>
    <div class="btn-group">
        <button type="submit" class="danger-btn">
            <i class="ti-search" aria-hidden="true"></i>
            Search
        </button>

    </div>
</form>

    <link href="~/Content/CustomeNew/Index1.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CssNew/responsive.css" rel="stylesheet" />
    <link href="~/Content/CssNew/jquery-ui.min.css" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/CssNew/style.css")" rel="stylesheet" />*@
<script>
    $(document).ready(function () {
        
        FillCategories();
        FillLocations();

        function FillCategories() {
            $.ajax({
                url: '@Url.Action("GetCategories","Search")',
                type: 'GET',
                datatype:'json',

                success: function (data) {

                    //var categoryColl = new Array();
                    $.each(data, function (i, field) {

                      //  categoryColl.push(field.CategoryName);
                        $("#listing_catagory_list").append("<option>" + field.CategoryName + "</option>");
                    });
                    //var options = {
                    //    data: categoryColl,
                    //    list: {
                    //        match: {
                    //            enabled: true
                    //        },
                    //        onSelectItemEvent: function () {
                                
                    //            $("#listing_catagory_list").attr("value", $("#listing_catagory_list").getSelectedItemData());
                               
                    //        }
                    //    }

                    //};

                  //  $("#listing_catagory_list").easyAutocomplete(options);

                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                complete: function (data) {
                    //$("#requestOverlay").hide();/*Remove overlay*/
                }

            });
        }

        function FillLocations() {
            $.ajax({
                url: '@Url.Action("GetLocations", "Search")',
                type: 'GET',
                datatype: 'json',

                success: function (data) {

                    var locationColl = new Array();
                    locationColl.push("All India");
                    $.each(data, function (i, field) {
                        //$("#listing_location_list").append("<option>" + field.LocationName + "</option>");
                        locationColl.push(field.LocationName);
                    });
                    jQuery.getScript("/Scripts/ScriptsNew/jquery-ui.min.js", function (data, status, jqxhr) {
                        $('#listing_location_list').autocomplete({
                            source: locationColl,
                            minLength: 0,
                            mustMatch: true,
                            scroll: true
                        }).focus(function () {
                            $(this).autocomplete("search", "");
                        });

                   });
                    
                    //var options = {
                    //    data: locationColl,
                    //    list: {
                    //        match: {
                    //            enabled: true
                    //        },
                    //        onSelectItemEvent: function () {
                    //            // $("#locations").attr("value", $("#locations").getSelectedItemData());
                                
                    //        }
                    //    }

                    //};

                    //$("#listing_location_list").easyAutocomplete(options);

                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                complete: function (data) {
                    //$("#requestOverlay").hide();/*Remove overlay*/
                }

            });
        }

    });

</script>