
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="post-add">
        <div class="top-sec">
            <div class="container sec">
                <h1>Submit a free classified add</h1>
            </div>
        </div>
        <section class="section sec-1">
            <div class="header">
                <div class="container sec">
                    <h2>Select Your Category</h2>
                    <div class="selected">
                        <h3 id="category"></h3><a class="pull-right" href="javascript:void(0)">Edit</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container sec">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Title</label>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="grid-item">
                                <div class="grid-img">
                                    <a href="javascript:void(0)"><img src="~/images/bike.jpg" /></a>
                                    <input type="radio" name="property" value="property" class="category hidden"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid-item">
                                <div class="grid-img">
                                    <a href="javascript:void(0)"><img src="~/images/bike.jpg" /></a>
                                    <input type="radio" name="car" value="Car" class="category hidden" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid-item">
                                <div class="grid-img">
                                    <a href="javascript:void(0)"><img src="~/images/bike.jpg" /></a>
                                    <input type="radio" name="electronies" value="electronies" class="category hidden" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid-item">
                                <div class="grid-img">
                                    <a href="javascript:void(0)"><img src="~/images/bike.jpg" /></a>
                                    <input type="radio" name="mobile" value="mobile" class="category hidden" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid-item">
                                <div class="grid-img">
                                    <a href="javascript:void(0)"><img src="~/images/bike.jpg" /></a>
                                    <input type="radio" name="furnitures" value="furnitures" class="category hidden" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid-item">
                                <div class="grid-img">
                                    <a href="javascript:void(0)"><img src="~/images/bike.jpg" /></a>
                                    <input type="radio" name="jobs" value="jobs" class="category hidden" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid-item">
                                <div class="grid-img">
                                    <a href="javascript:void(0)"><img src="~/images/bike.jpg" /></a>
                                    <input type="radio" name="mobiles" value="mobiles" class="category hidden" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid-item">
                                <div class="grid-img">
                                    <a href="javascript:void(0)"><img src="~/images/bike.jpg" /></a>
                                    <input type="hidden" name="bikes" value="sports" class="category hidden" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-footer">                        
                        <input type="button" class="next-step btn btn-success" disabled value="next" />                        
                    </div>
                </div>  
            </div>              
        </section>
        <section class="section sec-2">
            <div class="header">
                <div class="container sec">
                    <h2>Select Your Model</h2>
                    <div class="selected">
                        <h3>Model details</h3><a class="pull-right" href="javascript:void(0)">Edit</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container sec">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Category</label>
                        </div>
                        <div class="col-lg-6">
                            <select id="myList" class="form-control">
                                <option value="Properties">Select</option>
                                <option value="Properties">Properties</option>
                                <option value="Cars">Cars</option>
                                <option value="Electronics & Appliances">Electronics & Appliances</option>
                                <option value="Furniture">Furniture</option>
                                <option value="Jobs">Jobs</option>
                                <option value="Mobiles">Mobiles</option>
                                <option value="Bikes">Bikes</option>
                                <option value="Books, Sports & Hobbies">Books, Sports & Hobbies</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Pets">Pets</option>
                                <option value="Services">Services</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Property</label>
                        </div>
                        <div class="col-lg-6">
                            <select id="myList" class="form-control">
                                <option value="Properties">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="content-footer">
                        <input type="button" class="next-step btn btn-success" value="next" />
                    </div>
                </div>
            </div>
        </section>
        <section class="section sec-3">
            <div class="vehicle-props">
                <div class="header">
                    <div class="container sec">
                        <h2>Select Your Category</h2>
                        <div class="selected">
                            <h3>CAR</h3><a class="pull-right" href="javascript:void(0)">Edit</a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="container sec">
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Price</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Model</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="myList" class="form-control">
                                    <option value="Properties">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Year</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Fuel</label>
                            </div>
                            <div class="col-lg-6">
                                <select id="myList" class="form-control">
                                    <option value="Properties">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>KL Driven</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Description</label>
                            </div>
                            <div class="col-lg-6">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="content-footer">
                            <input type="button" class="next-step btn btn-success" value="next" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section sec-4">
            <div class="header">
                <div class="container sec">
                    <h2>Please fill your details</h2>
                    <div class="selected">
                        <h3>your personal details</h3><a class="pull-right" href="javascript:void(0)">Edit</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container sec">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Name</label>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Mobile</label>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>City</label>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="content-footer">
                        <input type="button" class="submit btn btn-success" value="Submit" />
                    </div>
                </div>
            </div>
        </section>
    </div>
<div class="border first">
    <div class="border-theme blue-border">&nbsp;</div>
    <div class="border-theme green-border">&nbsp;</div>
    <div class="border-theme violet-border">&nbsp;</div>
    <div class="border-theme orange-border">&nbsp;</div>
</div>
