@model AddsModel
@{
    Layout = null;
}
<div class="bloglisting grid" id="grid">
    @foreach (var add in Model.Adds)
    {
        <span>@add.AddId</span>
    }
    </div>
<div class="bloglisting list" id="list">
    @foreach (var add in Model.Adds)
    {
        <span>@add.AddId</span>
    }
    </div>