
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Contact", "List", FormMethod.Post, new { data_toggle = "validator" }))
{

    <div>
        @*<div class="breadcrumb-block">

            </div>*@

        <div class="about-widget-section" style="padding:80px 0px 30px 0px">

            <div class="container" style="max-width:970px !important;margin:auto;">
                <div style="background-color:#f5f5f5;border-radius: 4px;">
                    <div style="width:50%;float:left">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/List/Home">Home</a></li>
                            <li class="breadcrumb-item active">About</li>
                        </ol>
                    </div>

                    <div class="breadcrumb-call-to-action" style="padding: 8px 15px;list-style: none;background-color: #f5f5f5;border-radius: 4px;">
                        <p>Call Us : <i style="color:#F70" class="fa fa-phone" aria-hidden="true"></i> +91-96036-999-00</p>
                        @*<a href="javascript:void(0)" class="contact-btn">
                                Call Us
                            </a>*@
                    </div>
                </div>

            </div>
            <br />
            <div class="container" style="max-width:970px !important;margin:auto;display:none">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="about-widget-block">
                            <span class="ti-cup"><i class="fa fa-trophy" aria-hidden="true"></i></span>
                            <h4>Award Wining Listing Site</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="about-widget-block">
                            <span class="ti-user"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <h4>Dedicated Team</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="about-widget-block">
                            <span class="ti-headphone-alt"><i class="fa fa-headphones" aria-hidden="true"></i></span>
                            <h4>24/7 Support</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <!-- about-widget section -->
        <div class="about-info-section">
            <div class="container" style="max-width:970px !important;margin:auto;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-info" style="margin-top:5px;">
                            <h2>We are Classigoo</h2>

                            <p style="text-align:justify;">
                                Classigoo is your one-click online vehicle marketplace for all vehicle Bookings and Sale- Purchase services. Now with Classigoo, you can book all vehicles both online and offline (960 36 999 00) and Classigoo strives to afford online vehicle services in your villages and towns. Classigoo is an online vehicle market that connects Users and vehicle owners for vehicle bookings and connects buyers and sellers for sale -Purchase needs.  Classigoo serves the vehicle categories like Commercial Vehicles, Agricultural Vehicles, and Transportation Vehicles and Passenger vehicles.

                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="about-thumb">
                            <img src="~/images/4.jpg" style="width:100%;height:100%" alt="img" class="img-responsive">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="about-widget-block">

                            <h4 style="color:#f70">Benefits to Classigoo Users</h4>
                            <p>
                                As a Classigoo user, now you can book all vehicles both online and offline (960 36 999 00). Classigoo strives to afford online vehicle services in your villages and towns. Classigoo users will get good discounts on every booking.

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="about-widget-block">

                            <h4 style="color:#f70">Benefits to Vehicle owners</h4>
                            <p>
                                If you’re a vehicle Owner, you can earn more money in your locality by attaching your vehicle with Classigoo. Once associated with Classigoo, you will get more leads in your surroundings which leads to high earning opportunity and you will get transparent payments.

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="about-widget-block">

                            <h4 style="color:#f70">Benefits to Buyers and Sellers</h4>
                            <p>
                                If you are new to used vehicle market or exhausted by the brokers and still planning for buy or sale of used vehicles, hereafter Classigoo will help you with complete buy and sale process to get best deals in your surroundings. Classigoo will take care of Buy and Sale process of used vehicles by assisting vehicle finance and RTA services. Classigoo serves all vehicle categories like commercial vehicles, Agricultural vehicles, Transport vehicles and Passenger vehicles.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="about-widget-block">

                            <h4 style="color:#f70">Finance and RTA Services</h4>
                            <p>
                                Classigoo will take care of complete Buy and  Sale process of used vehicles by assisting vehicle finance and RTA services like NOC - No Objection Certificate, Hypothecation, Vehicle Registration, Ownership Transfer, Duplicate RC, Licence, and Taxes etc.

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="about-widget-block">

                            <h4 style="color:#f70">Real Estate (Lands and properties)</h4>
                            <p>
                                Classigoo also caters to your Real estate (Lands) needs like Rent/Sale/Buy/Lease of Agricultural lands, Plots, Independent houses, Apartments, Hostels, Shops, and Offices in your surroundings (Villages or Towns).

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- about-widget section -->
        <div class="team-section" style="display:none">
            <div class="container" style="max-width:970px !important;margin:auto;">
                <div class="section-title">
                    <h2>Meet the Team</h2>
                    <p>Uncover your favorite places to travel, shop, eat or anything what happening around you.</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-block">
                            <div class="team-member-thumb-outer">
                                <div class="team-member-thumb">
                                    <img src="~/images/22222.jpg" style="width:100%;height:100%" alt="img" class="img-responsive">

                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <div class="team-member-info">
                                <h4>Suresh Kareti</h4>
                                <p>Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-block">
                            <div class="team-member-thumb-outer">
                                <div class="team-member-thumb">
                                    <img src="images/team/2.jpg" alt="img" class="img-responsive">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <div class="team-member-info">
                                <h4>Anderson Mikoo</h4>
                                <p>Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-block">
                            <div class="team-member-thumb-outer">
                                <div class="team-member-thumb">
                                    <img src="images/team/3.jpg" alt="img" class="img-responsive">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <div class="team-member-info">
                                <h4>Anderson Mikoo</h4>
                                <p>Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member-block">
                            <div class="team-member-thumb-outer">
                                <div class="team-member-thumb">
                                    <img src="images/team/4.jpg" alt="img" class="img-responsive">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <div class="team-member-info">
                                <h4>Anderson Mikoo</h4>
                                <p>Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- team section -->
        <div class="call-to-action-section" style="background:none;padding-bottom:30px;">
            <div class="container" style="max-width:970px !important;margin:auto;">
                <h3>
                    Start today to connect with Classigoo and extend  <br> your search in villages & Towns ..!!
                </h3>
                @*<p>
                    There are many consumers & business owners find this directory is helpful.
                </p>*@
                <br />
                <br />
                <div class="btn-group">

                    <div style="display:inline-block">
                        <span style="font-weight:bold"><i class="fa fa-hand-o-right"></i>For  vehicle Owners</span><br />
                        <a href="~/Post/Index" class="icon-btn adining-listing-btn" style="width:250px;">
                            <i class="fa fa-plus" aria-hidden="true"></i> Connect with Classigoo
                        </a>
                    </div>

                    <div style="display:inline-block">
                        <span style="font-weight:bold"><i class="fa fa-hand-o-right"></i>For Users</span><br />
                        <a href="~/List/Index" class="icon-btn explore-listing-btn" style="width:250px;">
                            <i class="fa fa-search" aria-hidden="true"></i> Explore all vehicles & Properties
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- call-to-action section-->

    </div>
}
<br />
<br />


<div class="loader-wrap" style="display:none">
    <div class="loader">
        <span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span>
        <span class="loader-item"></span><span class="loader-item"></span>
    </div>
</div>


@section Styles {
    <link href="@Url.Content("~/Content/CustomeNew/Index1.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}


@section scripts{

}