@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main nav section -->
<div class="main-header-section" style="width:100%;">
    <div class="container">
        <div class="header-content-block">
            <div class="header-title-block">
                @*<img src="~/images/poster_new.jpg" style="width:100%;" />*@
                <img src="~/images/clg_homepage_poster.jpg" style="height:30%;width:100%"/>
                @*<img src="~/images/front_page.PNG" style="width:100%;height:400px;" />*@
                @*<h2 style="font-size:45px">Explore Your Village & City..!!</h2>
                <div style="text-align:center">

                    <div style="max-width:500px;text-align:left;margin:0 auto;">

                        <p style="font-size:20px"> <i class="fa fa-hand-o-right"></i>  Book all vehicles Online/ Offline (96036 99900)</p>
                        <p style="font-size:20px"> <i class="fa fa-hand-o-right"></i>  Search all vehicles for Buy & Sale needs</p>
                        <p style="font-size:20px"> <i class="fa fa-hand-o-right"></i>  Search Real Estate Properties for Rent - Sale - Buy</p>
                    </div>

                </div>*@
            </div>
            <div>

                @Html.Partial("_LoadData")
            </div>
        </div>
        <!-- header-content-block -->
    </div>
    <div class="overlay"></div>
</div>
<!-- main-header section -->
<!--Categories start-->
<div>

    <div class="popular-cities-section" style="max-width:970px !important;margin:auto;">
        <div class="container-fluid" id="divCategory">
            <div class="section-title">
                <h2>Major Categories</h2>
                <p>Find out & Explore your Surroundings for vehicle & Real estate needs and see what's happening !!!!</p>
            </div>

            <div class="row categories-service">

                <div class="col-md-2">

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @* <div class="icon"><i class="fa fa-car" aria-hidden="true"></i></div>*@
                        <div class="icon">
                        @*<img src="~/images/icons/home/carx70.png" alt="Passenger Vehicles" />*@
                            <i class="sprite sprite-carx70"></i>
                        </div>
                        <h4><a href="#" category="Passenger Vehicles" type="Rent">Passenger Vehicles</a></h4>

                        <div class="categories">
                            <a href="#" category="Passenger Vehicles" type="Rent"> For Rent&nbsp;<i class="fa fa-external-link"></i> @*(<span id="pvRentCount">0</span>)*@</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Passenger Vehicles" type="Sale">For Sale&nbsp;<i class="fa fa-external-link"></i> @*(<span id="pvSaleCount">0</span>)*@</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @*<div class="icon"><i class="fa fa-truck" aria-hidden="true"></i></div>*@

                        <div class="icon">
                        @*<img src="~/images/icons/home/itractorx70.png" alt="Agricultural Vehicles" />*@
                            <i class="sprite sprite-itractorx70"></i>
                        </div>
                        <h4><a href="#" category="Agricultural Vehicles" type="Rent">Agricultural Vehicles</a></h4>

                        <div class="categories">
                            <a href="#" category="Agricultural Vehicles" type="Rent">For Rent&nbsp;<i class="fa fa-external-link"></i> @*(<span id="avRentCount">0</span> )*@</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Agricultural Vehicles" type="Sale">For Sale&nbsp;<i class="fa fa-external-link"></i> @*(<span id="avSaleCount">0</span> )*@</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>


            </div>

            <div class="row categories-service">

                <div class="col-md-2">

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @*<div class="icon"><i class="fa fa-train" aria-hidden="true"></i></div>*@
                        <div class="icon">
                            <i class="sprite sprite-transportationx70"></i>
                        @*<img src="~/images/icons/home/transportationx70.png" alt="Transportation Vehicles" />*@
                        </div>
                        <h4><a href="#" category="Transportation Vehicles" type="Rent">Transportation Vehicles</a></h4>

                        <div class="categories">
                            <a href="#" category="Transportation Vehicles" type="Rent">For Rent&nbsp;<i class="fa fa-external-link"></i> @*(<span id="tvRentCount">0</span> )*@</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Transportation Vehicles" type="Sale">For Sale&nbsp;<i class="fa fa-external-link"></i> @*(<span id="tvSaleCount">0</span> )*@</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @*<div class="icon"><i class="fa fa-ship" aria-hidden="true"></i></div>*@
                        <div class="icon">
                        @*<img src="~/images/icons/home/cranex70.png" alt="Construction Vehicles" />*@
                            <i class="sprite sprite-cranex70"></i>
                        </div>
                        <h4><a href="#" category="Construction Vehicles" type="Rent">Construction Vehicles</a></h4>

                        <div class="categories">
                            <a href="#" category="Construction Vehicles" type="Rent">For Rent&nbsp;<i class="fa fa-external-link"></i> @*(<span id="cvRentCount">0</span> )*@</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Construction Vehicles" type="Sale">For Sale&nbsp;<i class="fa fa-external-link"></i> @*(<span id="cvSaleCount">0</span> )*@</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>


            </div>

            <!--Real Estate section-->
            @*<div class="row categories-service" style="margin-top:0px">
                <div class="col-md-4">

                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">                      
                        <div class="icon">                  
                            <i class="sprite sprite-homex70"></i>
                        </div>
                        <h4><a href="#" category="Real Estate" type="Rent">Real Estate</a></h4>

                        <div class="categories">
                            <a href="#" category="Real Estate" type="Rent">For Rent&nbsp;<i class="fa fa-external-link"></i></a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Real Estate" type="Sale">For Sale&nbsp;<i class="fa fa-external-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>*@

        </div>

        <div class="popular-cities-section" style="max-width:970px !important;margin:auto;padding:0px 15px 0px 15px">

            @*<div>
                <img src="~/images/Card_allimages.jpg" /></div>*@

            <div class="row" style="display:block">
                <section class="autoplay slider slider-home-all">
                        <div class="slide">
                            <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Borewell Machines">
                                <img src="~/images/scroll/AV/AV1.jpg" alt="Borewell Machines" /><br>
                                <span class="direname" style="color:#337ab7">Borewell Machines</span>
                                @*(<span class="direname spnCntAV-BorewellMachineCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Tractors">
                                <img src="~/images/scroll/AV/AV2.jpg" alt="Tractors" /><br>
                                <span class="direname" style="color:#337ab7">Tractors</span>
                                @*(<span class="direname spnCntAV-TractorsCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Dozers">
                                <img src="~/images/scroll/AV/AV3.jpg" alt="Dozers" /><br>
                                <span class="direname" style="color:#337ab7">Dozers</span>
                                @*(<span class="direname spnCntAV-DozerCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Combine Harvesters">

                                <img src="~/images/scroll/AV/AV4.jpg" alt="Combine Harvesters" /><br>
                                <span class="direname" style="color:#337ab7">Combine Harvesters</span>
                                @*(<span class="direname spnCntAV-HarvesterCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Backhoe Loaders">

                                <img src="~/images/scroll/AV/AV5.jpg" alt="Backhoe Loaders" /><br>
                                <span class="direname" style="color:#337ab7">Backhoe Loaders</span>
                               @*( <span class="direname spnCntAV-BackhoeLoaderCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Excavators">
                                <img src="~/images/scroll/AV/AV6.jpg" alt="Excavators" /><br>
                                <span class="direname" style="color:#337ab7">Excavators</span>
                                @*(<span class="direname spnCntAV-ExcavatorsCount" style="color:#337ab7">0</span>)*@

                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Passenger Vehicles" data-subcategory="Autos">
                                <img src="~/images/scroll/PV/PV1.jpg" alt="Autos" /><br>
                                <span class="direname" style="color:#337ab7">Autos</span>
                                @*(<span class="direname spnCntPV-AutosCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Passenger Vehicles" data-subcategory="Cars">
                                <img src="~/images/scroll/PV/PV2.jpg" alt="Cars" /><br>
                                <span class="direname" style="color:#337ab7">Cars</span>
                                @*(<span class="direname spnCntPV-CarsCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Passenger Vehicles" data-subcategory="Travel Vans">

                                <img src="~/images/scroll/PV/PV3.jpg" alt="Travel Vans" /><br>
                                <span class="direname" style="color:#337ab7">Travel Vans</span>
                                @*(<span class="direname spnCntPV-TravelVansCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Passenger Vehicles" data-subcategory="Bikes">

                                <img src="~/images/scroll/PV/PV4.jpg" alt="Bikes" /><br>
                                <span class="direname" style="color:#337ab7">Bikes</span>
                                @*(<span class="direname spnCntPV-BikesCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>



                        <div class="slide">
                            <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Wheel Loaders">

                                <img src="~/images/scroll/CV/CV5.jpg" alt="Wheel Loaders" /><br>
                                <span class="direname" style="color:#337ab7">Wheel Loaders</span>
                                @*(<span class="direname spnCntCV-WheelLoaderCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Cranes">

                                <img src="~/images/scroll/CV/CV6.jpg" alt="Cranes" /><br>
                                <span class="direname" style="color:#337ab7">Cranes</span>
                                @*(<span class="direname spnCntCV-CraneCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Transit Mixers">

                                <img src="~/images/scroll/CV/CV7.jpg" alt="Transit Mixers" /><br>
                                <span class="direname" style="color:#337ab7">Transit Mixers</span>
                                @*(<span class="direname spnCntCV-TransitMixerCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Soil Compactors">

                                <img src="~/images/scroll/CV/CV8.jpg" alt="Soil Compactors" /><br>
                                <span class="direname" style="color:#337ab7">Soil Compactors</span>
                                @*(<span class="direname spnCntCV-SoilCompactorCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Tippers">

                                <img src="~/images/scroll/CV/CV9.jpg" alt="Tippers" /><br>
                                <span class="direname" style="color:#337ab7">Tippers</span>
                                @*(<span class="direname spnCntCV-TippersCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>

                        <div class="slide">
                            <a class="scrollimg" data-category="Transportation Vehicles" data-subcategory="Autos - 3 wheelers">
                                <img src="~/images/scroll/TV/TV1.jpg" alt="Autos - 3 wheelers" /><br>
                                <span class="direname" style="color:#337ab7">Autos - 3 wheelers</span>
                                @*(<span class="direname spnCntTV-Autos3wheelerCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Transportation Vehicles" data-subcategory="Mini Trucks - 4 wheelers">
                                <img src="~/images/scroll/TV/TV2.jpg" alt="Mini Trucks - 4 wheelers" /><br>
                                <span class="direname" style="color:#337ab7">Mini Trucks - 4 wheelers</span>
                                @*(<span class="direname spnCntTV-MiniTrucks4wheelerCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Transportation Vehicles" data-subcategory="Lorry Trucks">

                                <img src="~/images/scroll/TV/TV3.jpg" alt="Lorry Trucks" /><br>
                                <span class="direname" style="color:#337ab7">Lorry Trucks</span>
                                @*(<span class="direname spnCntTV-LorryTrucksCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Transportation Vehicles" data-subcategory="DCM Trucks">

                                <img src="~/images/scroll/TV/TV4.jpg" alt="DCM Trucks" /><br>
                                <span class="direname" style="color:#337ab7">DCM Trucks</span>
                                @*(<span class="direname spnCntTV-DCMTrucksCount" style="color:#337ab7">0</span>)*@
                            </a>
                        </div>



                    <!--Real Estate section-->
                        @*<div class="slide">
                            <a class="scrollimg" data-category="Real Estate" data-subcategory="Apartments">
                                <img src="~/images/scroll/RE/RE1.jpg" alt="Apartments" /><br>
                                <span class="direname" style="color:#337ab7">Apartments</span>                              
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Real Estate" data-subcategory="Plots/Land">
                                <img src="~/images/scroll/RE/RE2.jpg" alt="Plots/Land" /><br>
                                <span class="direname" style="color:#337ab7">Plots/Land</span>                               
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Real Estate" data-subcategory="Agricultural Land">

                                <img src="~/images/scroll/RE/RE3.jpg" alt="Agricultural Land" /><br>
                                <span class="direname" style="color:#337ab7">Agricultural Land</span>                              
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Real Estate" data-subcategory="Shops & Offices">

                                <img src="~/images/scroll/RE/RE4.jpg" alt="Shops & Offices" /><br>
                                <span class="direname" style="color:#337ab7">Shops & Offices</span>                          
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Real Estate" data-subcategory="Independent Houses & Villas">

                                <img src="~/images/scroll/RE/RE5.jpg" alt="Independent Houses & Villas" /><br>
                                <span class="direname" style="color:#337ab7">Independent Houses & Villas</span>                                
                            </a>
                        </div>
                        <div class="slide">
                            <a class="scrollimg" data-category="Real Estate" data-subcategory="Hostels & PG">

                                <img src="~/images/scroll/RE/RE6.jpg" alt="Hostels & PG" /><br>
                                <span class="direname" style="color:#337ab7">Hostels & PG</span>                               
                            </a>
                        </div>*@


                    </section>
            </div>
        </div>
    </div>
</div>

<!--Categories end-->



@section Styles {
    <link href="@Url.Content("~/Content/CssNew/responsive.css")" rel="stylesheet" />
    @Styles.Render("~/Content/silk")

}

@section scripts{
    @*<script src="~/Scripts/List/search.js"></script>*@
    <script src="~/Scripts/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".autoplay").slick({

                variableWidth: true,

                slidesToShow: 8,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                arrows: true,
                dots: false,
                pauseOnHover: false,
                responsive: [

                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 3
                        }
                    }, {
                        breakpoint: 480,
                        settings: {
                            variableWidth: false,
                            slidesToShow: 2,

                        }
                    }]
            });

            $('.scrollimg').click(function () {
                var currentCat = $(this)[0].getAttribute("data-category");
                var currentSubCat = $(this)[0].getAttribute("data-subcategory");
                window.location.href = "/List/Index?category=" + currentCat + "&subCategory=" + escape(currentSubCat);
            });

            //GetAddsCount();
            //GetSubCatCount();
            $("#divCategory a").click(function () {
                var selectedCategory = $(this).attr("category");
                var type = $(this).attr("type");
                //  window.target = "_blank";
                window.location.href = "/List/Index?category=" + selectedCategory + "&type=" + type;
            })

            function GetAddsCount() {
                $.ajax({
                    url: '/List/GetCount',
                    type: 'GET',
                    success: function (data) {
                        $("#pvSaleCount").text(data.pvSaleCount);
                        $("#pvRentCount").text(data.pvRentCount);
                        $("#avRentCount").text(data.avRentCount);
                        $("#avSaleCount").text(data.avSaleCount);
                        $("#tvRentCount").text(data.tvRentCount);
                        $("#tvSaleCount").text(data.tvSaleCount);
                        $("#cvRentCount").text(data.cvRentCount);
                        $("#cvSaleCount").text(data.cvSaleCount);
                        $("#reRentCount").text(data.reRentCount);
                        $("#reSaleCount").text(data.reSaleCount);

                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    },
                    complete: function (data) {

                    }

                });
            }

            function GetSubCatCount() {
                $.ajax({
                    url: '/List/GetHomeSubCatCount',
                    type: 'GET',
                    data: { "location": "", "type": "Rent", "keyword": "", "subCategory": "", "company": "", "reFilters": "\"\"" },
                    success: function (data) {
                        //.............AV...............
                        $(".direname.spnCntAV-BorewellMachineCount").text(data.AVSubCat.BorewellMachineCount);
                        $(".direname.spnCntAV-TractorsCount").text((data.AVSubCat.TractorsCount))
                        $(".direname.spnCntAV-DozerCount").text((data.AVSubCat.DozerCount))
                        $(".direname.spnCntAV-HarvesterCount").text((data.AVSubCat.HarvesterCount));
                        $(".direname.spnCntAV-BackhoeLoaderCount").text((data.AVSubCat.BackhoeLoaderCount));
                        $(".direname.spnCntAV-ExcavatorsCount").text((data.AVSubCat.ExcavatorsCount));

                        //.........PV.............
                        $(".direname.spnCntPV-AutosCount").text(data.PVSubCat.AutosCount);
                        $(".direname.spnCntPV-CarsCount").text(data.PVSubCat.CarsCount)
                        $(".direname.spnCntPV-TravelVansCount").text(data.PVSubCat.TravelVansCount)
                        $(".direname.spnCntPV-BikesCount").text(data.PVSubCat.BikesCount)

                        //.......CV............
                        //$(".direname.spnCntCV-TractorsCount").text(data.CVSubCat.TractorsCount);
                        //$(".direname.spnCntCV-DozerCount").text(data.CVSubCat.DozerCount);
                        //$(".direname.spnCntCV-BackhoeLoaderCount").text(data.CVSubCat.BackhoeLoaderCount);
                        //$(".direname.spnCntCV-ExcavatorsCount").text(data.CVSubCat.ExcavatorsCount);
                        $(".direname.spnCntCV-WheelLoaderCount").text(data.CVSubCat.WheelLoaderCount);
                        $(".direname.spnCntCV-CraneCount").text(data.CVSubCat.CraneCount);
                        $(".direname.spnCntCV-TransitMixerCount").text(data.CVSubCat.TransitMixerCount);
                        $(".direname.spnCntCV-SoilCompactorCount").text(data.CVSubCat.SoilCompactorCount);
                        $(".direname.spnCntCV-TippersCount").text(data.CVSubCat.TippersCount);
                        //.........TV......
                        $(".direname.spnCntTV-Autos3wheelerCount").text(data.TVSubCat.Autos3wheelerCount);
                        $(".direname.spnCntTV-MiniTrucks4wheelerCount").text(data.TVSubCat.MiniTrucks4wheelerCount);
                        $(".direname.spnCntTV-LorryTrucksCount").text(data.TVSubCat.LorryTrucksCount);
                        $(".direname.spnCntTV-DCMTrucksCount").text(data.TVSubCat.DCMTrucksCount);

                        //.... RE..........

                        $(".direname.spnCntRE-ApartmentsCount").text(data.RESubCat.ApartmentsCount);
                        $(".direname.spnCntRE-PlotsLandCount").text(data.RESubCat.PlotsLandCount);
                        $(".direname.spnCntRE-AgriculturalLandCount").text(data.RESubCat.AgriculturalLandCount);
                        $(".direname.spnCntRE-ShopsOfficesCount").text(data.RESubCat.ShopsOfficesCount);
                        $(".direname.spnCntRE-IndependentHousesVillasCount").text(data.RESubCat.IndependentHousesVillasCount);
                        $(".direname.spnCntRE-HostelsPGCount").text(data.RESubCat.HostelsPGCount);




                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    },
                    complete: function (data) {

                    }

                });
            }
        });
    </script>
}


