
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main nav section -->
<div class="main-header-section" style="width:100%">
    <div class="container">
        <div class="header-content-block">
            <div class="header-title-block">
                <h2>Explore Your City</h2>
                <p>
                    @*Discover what makes you feel better to sale or buy.*@
                    Search from over 15,00,000 classifieds & Post unlimited classifieds free!
                </p>
            </div>
            <div>

                @Html.Partial("_LoadData")
            </div>
        </div>
        <!-- header-content-block -->
    </div>
    <div class="overlay"></div>
</div>
<!-- main-header section -->
<!--Categories start-->
<div class="popular-cities-section" style="max-width:970px !important;margin:auto;">
    <div class="container-fluid" id="divCategory">
        <div class="section-title">
            <h2>Categories</h2>
            <p>Find out & explore new businesses near your area and see what's happening !!!</p>
        </div>

        <div class="row categories-service">

            <div class="col-md-2">

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="categorybox">
                    @* <div class="icon"><i class="fa fa-car" aria-hidden="true"></i></div>*@
                    <div class="icon"><img src="~/images/icons/home/carx70.png" /></div>
                    <h4><a href="#" category="Passenger Vehicles" type="Rent">Passenger Vehicles</a></h4>

                    <div class="categories">
                        <a href="#" category="Passenger Vehicles" type="Rent">For Rent (<span id="pvRentCount"></span>)</a>
                    </div>
                    <div class="categories">
                        <a href="#" category="Passenger Vehicles" type="Sale">For Sale (<span id="pvSaleCount"></span>)</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="categorybox">
                    @*<div class="icon"><i class="fa fa-truck" aria-hidden="true"></i></div>*@

                    <div class="icon"><img src="~/images/icons/home/itractorx70.png" /></div>
                    <h4><a href="#" category="Agricultural Vehicles" type="Rent">Agricultural Vehicles</a></h4>

                    <div class="categories">
                        <a href="#" category="Agricultural Vehicles" type="Rent">For Rent (<span id="avRentCount"></span> )</a>
                    </div>
                    <div class="categories">
                        <a href="#" category="Agricultural Vehicles" type="Sale">For Sale (<span id="avSaleCount"></span> )</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>


        </div>

        <div class="row categories-service">

            <div class="col-md-2">

            </div>
            <div class="col-md-4 col-sm-6">
                <div class="categorybox">
                    @*<div class="icon"><i class="fa fa-train" aria-hidden="true"></i></div>*@
                    <div class="icon"><img src="~/images/icons/home/transportationx70.png" /></div>
                    <h4><a href="#" category="Transportation Vehicles" type="Rent">Transportation Vehicles</a></h4>

                    <div class="categories">
                        <a href="#" category="Transportation Vehicles" type="Rent">For Rent (<span id="tvRentCount"></span> )</a>
                    </div>
                    <div class="categories">
                        <a href="#" category="Transportation Vehicles" type="Sale">For Sale (<span id="tvSaleCount"></span> )</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="categorybox">
                    @*<div class="icon"><i class="fa fa-ship" aria-hidden="true"></i></div>*@
                    <div class="icon"><img src="~/images/icons/home/cranex70.png" /></div>
                    <h4><a href="#" category="Construction Vehicles" type="Rent">Construction Vehicles</a></h4>

                    <div class="categories">
                        <a href="#" category="Construction Vehicles" type="Rent">For Rent (<span id="cvRentCount"></span> )</a>
                    </div>
                    <div class="categories">
                        <a href="#" category="Construction Vehicles" type="Sale">For Sale (<span id="cvSaleCount"></span> )</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>


        </div>

        <div class="row categories-service" style="margin-top:0px">
            <div class="col-md-4">

            </div>

            <div class="col-md-4 col-sm-6">
                <div class="categorybox">
                    @*<div class="icon"><i class="fa fa-home" aria-hidden="true"></i></div>*@
                    <div class="icon"><img src="~/images/icons/home/homex70.png" /></div>
                    <h4><a href="#" category="Real Estate" type="Rent">Real Estate</a></h4>

                    <div class="categories">
                        <a href="#" category="Real Estate" type="Rent">For Rent (<span id="reRentCount"></span> )</a>
                    </div>
                    <div class="categories">
                        <a href="#" category="Real Estate" type="Sale">For Sale (<span id="reSaleCount"></span> )</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div>

</div>
<!--Categories end-->



@section Styles {
    <link href="@Url.Content("~/Content/CustomeNew/Index1.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CssNew/responsive.css")" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/CssNew/style.css")" rel="stylesheet" />*@
}
<script>
    $(document).ready(function () {
        GetAddsCount();
        $("#divCategory a").click(function () {
            var selectedCategory = $(this).attr("category");
            var type = $(this).attr("type");
          //  window.target = "_blank";
            window.location.href = "/List/Index?category="+selectedCategory+"&type="+type;
        })
        function GetAddsCount()
        {
            $.ajax({
                url: '/List/GetCount',
                type: 'GET',
                success: function (data) {
                    $("#pvSaleCount").text(data.pvSaleCount);
                    $("#pvRentCount").text(data.pvRentCount);
                    $("#avRentCount").text(data.avRentCount);
                    $("#avSaleCount").text(data.avSaleCount);
                    $("#tvRentCount").text(data.tvRentCount);
                    $("#tvSaleCount").text(data.tvSaleCount);
                    $("#cvRentCount").text(data.cvRentCount);
                    $("#cvSaleCount").text(data.cvSaleCount);
                    $("#reRentCount").text(data.reRentCount);
                    $("#reSaleCount").text(data.reSaleCount);
                    
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                complete: function (data) {

                }

            });
        }
    });
</script>