@model AddsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "List", FormMethod.Post, new { data_toggle = "validator" }))
{

    <div>
        <div class="breadcrumb-block">

        </div>
        <div class="add-listing-wrap">
            <br />
            <br />
            <div class="container">
                <div class="listing-block businessinfo-listing" style="max-width:970px !important;margin:auto;">
                    <div class="row">
                        <div class="col-sm-12" style="background-color:#F0FFFF;padding-top:15px">
                            @*@Html.Partial("_LoadData")*@
                            <div class="clearfix" style="display:block">
                                <div class="row form-group">
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <div class="form-group">


                                            <select class="form-control" id="listing_catagory" name="category">
                                                <option selected>Select Category</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" id="listing_location_list" lt="" style="border:1px solid rgb(204, 204, 204);border-radius:0px" class="form-control" placeholder="Ex: Warangal, Hyderabad" name="location" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" style="border:1px solid rgb(204, 204, 204);border-radius:0px" id="listing_keword" placeholder="Ex: Honda,Maruthi" name="searchKeyword">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <select id="listing_rent_listGeneral" name="type" class="form-control">
                                                
                                                <option selected>Rent</option>
                                                <option>Sale</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <div class="container">
                <div class="listing-block businessinfo-listing" id="divFilter" style="max-width:970px !important;margin:auto;display:none">
                    <div class="row form-group">
                        <div class="col-sm-12" style="background-color:#F0FFFF;padding-top:15px">
                            <div class="clearfix" id="re" style="display:none">
                                <div class="row form-group">

                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Sub Category</span><br>
                                            <select class="form-control" id="subCategory">
                                                <option>Select Category</option>
                                                @*<option>All</option>*@
                                                <option>Apartments</option>
                                                <option>Houses & Villas</option>
                                                <option>Builder Folders</option>
                                                <option>Land & Plots</option>
                                                <option>Shops & Offices</option>
                                                <option>Farm Houses</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Furnishing</span><br>
                                            <select class="form-control" id="furnishing">
                                                <option selected>Furnishing</option>
                                                @*<option>All</option>*@
                                                <option>Furnished</option>
                                                <option>Unfurnished</option>
                                                <option>Semi-Furnished</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Construction Status</span><br>
                                            <select class="form-control" id="consructionStatus">
                                                <option selected>Construction Status</option>
                                                @*<option>All</option>*@
                                                <option>Under Construction</option>
                                                <option>Ready to Move</option>
                                                <option>New Launch</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Listed By</span><br>
                                            <select class="form-control" id="listedBy">
                                                <option selected>Listed By</option>
                                                @*<option>All</option>*@
                                                <option>Owner</option>
                                                <option>Dealer</option>
                                                <option>Builder</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Super Builtup Area ft²</span><br>
                                            <select class="form-control" id="builtupArea">
                                                <option selected>Builtup Area</option>
                                                <option>300</option>
                                                <option>600</option>
                                                <option>900</option>
                                                <option>1,250</option>
                                                <option>1,500</option>
                                                <option>1,750</option>
                                                <option>2,250</option>
                                                <option>2,500</option>
                                                <option>5,000</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-xs-2 col-sm-2">
                                        <br />
                                        -
                                    </div>
                                    <div class="col-md-2 col-xs-4 col-sm-4">
                                        <br />
                                        <div class="form-group">
                                            <select class="form-control" id="BuitupArea1">
                                                <option selected>Builtup Area</option>
                                                <option>300</option>
                                                <option>600</option>
                                                <option>900</option>
                                                <option>1,250</option>
                                                <option>1,500</option>
                                                <option>1,750</option>
                                                <option>2,250</option>
                                                <option>2,500</option>
                                                <option>5,000</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Price Range</span><br>

                                            <select class="form-control" id="priceFrom">
                                                <option selected>Price From</option>
                                                <option>&#8377;10,000</option>
                                                <option>&#8377;50,000</option>
                                                <option>&#8377;1,00,000 </option>
                                                <option>&#8377;5,00,000</option>
                                                <option>&#8377;10,00,000</option>
                                                <option>&#8377;20,00,000 </option>
                                                <option>&#8377;50,00,000</option>
                                                <option>&#8377;1,00,00,000</option>
                                                <option>&#8377;2,00,00,000 </option>
                                                <option>&#8377;5,00,00,000</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-1 col-xs-2 col-sm-2">
                                        <br />
                                        -
                                    </div>
                                    <div class="col-md-2 col-xs-4 col-sm-4">
                                        <div class="form-group">
                                            <br />
                                            <select class="form-control" id="priceTo">
                                                <option selected>Price To</option>
                                                <option>&#8377;10,000</option>
                                                <option>&#8377;50,000</option>
                                                <option>&#8377;1,00,000 </option>
                                                <option>&#8377;5,00,000</option>
                                                <option>&#8377;10,00,000</option>
                                                <option>&#8377;20,00,000 </option>
                                                <option>&#8377;50,00,000</option>
                                                <option>&#8377;1,00,00,000</option>
                                                <option>&#8377;2,00,00,000 </option>
                                                <option>&#8377;5,00,00,000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">

                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Bed Rooms</span><br>
                                            <select class="form-control" name="langOpt[]" id="bedRooms">
                                                <option selected>Bed Rooms</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">4+</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="clearfix" id="pv" style="display:none">
                                <div class="row form-group">

                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Sub Category</span><br>
                                            <select class="form-control" id="subCategory">
                                                <option>Select Category</option>
                                                <option>All</option>
                                                <option>Cars</option>
                                                <option>Autos</option>
                                                <option>Travel Vans</option>
                                                <option>Bikes</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Company</span><br>
                                            <select class="form-control" id="company">
                                                <option selected>Select Company</option>
                                                <option>All</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                   
                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Price Range</span><br>

                                            <select class="form-control" id="priceFrom">
                                                <option selected>Price From</option>
                                                <option>&#8377;10,000</option>
                                                <option>&#8377;50,000</option>
                                                <option>&#8377;1,00,000 </option>
                                                <option>&#8377;5,00,000</option>
                                                <option>&#8377;10,00,000</option>
                                                <option>&#8377;20,00,000 </option>
                                                <option>&#8377;50,00,000</option>
                                                <option>&#8377;1,00,00,000</option>
                                                <option>&#8377;2,00,00,000 </option>
                                                <option>&#8377;5,00,00,000</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-1 col-xs-2 col-sm-2">
                                        <br />
                                        -
                                    </div>
                                    <div class="col-md-2 col-xs-4 col-sm-4">
                                        <div class="form-group">
                                            <br />
                                            <select class="form-control" id="PriceTo">
                                                <option selected>Price To</option>
                                                <option>&#8377;10,000</option>
                                                <option>&#8377;50,000</option>
                                                <option>&#8377;1,00,000 </option>
                                                <option>&#8377;5,00,000</option>
                                                <option>&#8377;10,00,000</option>
                                                <option>&#8377;20,00,000 </option>
                                                <option>&#8377;50,00,000</option>
                                                <option>&#8377;1,00,00,000</option>
                                                <option>&#8377;2,00,00,000 </option>
                                                <option>&#8377;5,00,00,000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Year</span><br>
                                            <select class="form-control" id="yearFrom">
                                                <option selected>Year From</option>
                                                <option>1995</option>
                                                <option>1996</option>
                                                <option>1997</option>
                                                <option>1998</option>
                                                <option>1999</option>
                                                <option>2000</option>
                                                <option>2001</option>
                                                <option>2002</option>
                                                <option>2003</option>
                                                <option>2004</option>
                                                <option>2005</option>
                                                <option>2006</option>
                                                <option>2007</option>
                                                <option>2008</option>
                                                <option>2009</option>
                                                <option>2010</option>
                                                <option>2011</option>
                                                <option>2012</option>
                                                <option>2013</option>
                                                <option>2014</option>
                                                <option>2015</option>
                                                <option>2016</option>
                                                <option>2017</option>
                                                <option>2018</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-xs-2 col-sm-2">
                                        <br />
                                        -
                                    </div>
                                    <div class="col-md-2 col-xs-4 col-sm-4">
                                        <br />
                                        <div class="form-group">
                                            <select class="form-control" id="yearTo">
                                                <option selected>Year To</option>
                                                <option>1995</option>
                                                <option>1996</option>
                                                <option>1997</option>
                                                <option>1998</option>
                                                <option>1999</option>
                                                <option>2000</option>
                                                <option>2001</option>
                                                <option>2002</option>
                                                <option>2003</option>
                                                <option>2004</option>
                                                <option>2005</option>
                                                <option>2006</option>
                                                <option>2007</option>
                                                <option>2008</option>
                                                <option>2009</option>
                                                <option>2010</option>
                                                <option>2011</option>
                                                <option>2012</option>
                                                <option>2013</option>
                                                <option>2014</option>
                                                <option>2015</option>
                                                <option>2016</option>
                                                <option>2017</option>
                                                <option>2018</option>
                                            </select>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>KM Driven</span><br>

                                            <select class="form-control" id="kmFrom">
                                                <option selected>KM Driven</option>
                                                <option>1,000 km</option>
                                                <option>5,000 km</option>
                                                <option>10,000 km </option>
                                                <option>15,000 km</option>
                                                <option>20,000 km</option>
                                                <option>25,000 km</option>
                                                <option>50,000 km</option>
                                                <option>80,000 km</option>
                                                <option>1,00,000 km</option>
                                                <option>1,50,000 km</option>
                                                <option>2,00,000 km</option>

                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-1 col-xs-2 col-sm-2">
                                        <br />
                                        -
                                    </div>
                                    <div class="col-md-2 col-xs-4 col-sm-4">
                                        <div class="form-group">
                                            <br />
                                            <select class="form-control" id="kmTo">
                                                <option selected>KM Driven</option>
                                                <option>1,000 km</option>
                                                <option>5,000 km</option>
                                                <option>10,000 km </option>
                                                <option>15,000 km</option>
                                                <option>20,000 km</option>
                                                <option>25,000 km</option>
                                                <option>50,000 km</option>
                                                <option>80,000 km</option>
                                                <option>1,00,000 km</option>
                                                <option>1,50,000 km</option>
                                                <option>2,00,000 km</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">                                  
                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Model</span><br>
                                            <select class="form-control" id="model">
                                                <option selected>Select Model</option>
                                                <option selected>All</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix" id="allv" style="display:none">
                                <div class="row form-group">

                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Sub Category</span><br>
                                            <select class="form-control" id="subCategory">
                                                <option>Select Category</option>
                                                @*<option>All</option>*@
                                                <option>Cars</option>
                                                <option>Autos</option>
                                                <option>Travel Vans</option>
                                                <option>Bikes</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Company</span><br>
                                            <select class="form-control" id="company">
                                                <option selected>Select Company</option>
                                                <option>All</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-3 col-xs-6 col-sm-6">
                                        <div class="form-group">
                                            <span>Price Range</span><br>

                                            <select class="form-control" id="priceFrom">
                                                <option selected>Price From</option>
                                                <option>&#8377;10,000</option>
                                                <option>&#8377;50,000</option>
                                                <option>&#8377;1,00,000 </option>
                                                <option>&#8377;5,00,000</option>
                                                <option>&#8377;10,00,000</option>
                                                <option>&#8377;20,00,000 </option>
                                                <option>&#8377;50,00,000</option>
                                                <option>&#8377;1,00,00,000</option>
                                                <option>&#8377;2,00,00,000 </option>
                                                <option>&#8377;5,00,00,000</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-1 col-xs-2 col-sm-2">
                                        <br />
                                        -
                                    </div>
                                    <div class="col-md-2 col-xs-4 col-sm-4">
                                        <div class="form-group">
                                            <br />
                                            <select class="form-control" id="priceTo">
                                                <option selected>Price To</option>
                                                <option>&#8377;10,000</option>
                                                <option>&#8377;50,000</option>
                                                <option>&#8377;1,00,000 </option>
                                                <option>&#8377;5,00,000</option>
                                                <option>&#8377;10,00,000</option>
                                                <option>&#8377;20,00,000 </option>
                                                <option>&#8377;50,00,000</option>
                                                <option>&#8377;1,00,00,000</option>
                                                <option>&#8377;2,00,00,000 </option>
                                                <option>&#8377;5,00,00,000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>

                        <div class="clearfix" style="float:right;display:block" id="clearfilter">
                            <a class="ex1" id="clearfilter" style="color:dodgerblue" href="#">&times;&nbsp;&nbsp;&nbsp;Clear filters</a>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />
        </div>
        <div class="add-listing-wrap">
            <div class="container">

                <div class="add-listing-tost-block">

                 
                </div>
                <div>

                    <input type="text" id="validationTemp" style="display:none" required />
                </div>
                <div class="listing-block businessinfo-listing" style="max-width:970px !important;margin:auto;">

                    <div class="row">
                        <div class="col-sm-12">


                         
                            @*<div class="clearfix" style="float:right;display:none" id="clearfilter">
                                <a class="ex1" id="clearfilter" style="color:dodgerblue" href="#">&times;&nbsp;&nbsp;&nbsp;Clear filters</a>
                            </div>*@
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <!--  Container -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt40column">
                            <!--Sorting-->
                            <div class="sorting well">
                                <div class="btn-group pull-right">
                                    <button class="btn " id="list"><i class="fa fa-th-list"></i> </button>
                                    <button class="btn btn-orange" id="grid"><i class="fa fa-th  fa-white"></i></button>
                                </div>
                            </div>
                            <!-- Listing-->
                            <div class="mt40" id="bloglist">
                                <div id="content">
                                    @Html.Partial("_FillSearchResults", Model)
                                </div>

                                <div class="mt30 clearfix" id="divpage-number">
                                    <div id="page-selection" class="pagination pull-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
}
<br />
<br />


<div class="loader-wrap" style="display:none">
    <div class="loader">
        <span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span>
        <span class="loader-item"></span><span class="loader-item"></span>
    </div>
</div>


@section Styles {
    <link href="@Url.Content("~/Content/CustomeNew/Index1.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/List/color1.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CssNew/jquery-ui.min.css" rel="stylesheet" />
}


@section scripts{
    <script src="~/Scripts/List/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="~/Scripts/List/zoomsl-3.0.min.js"></script>
    <script src="~/Scripts/List/custom.js"></script>
    <script src="~/Scripts/ScriptsNew/jquery.bootpag.min.js"></script>
    <script src="~/Scripts/Home/selectron.js"></script>
    <script src="~/Scripts/List/search.js"></script>
}

<script>
    $(document).ready(function () {
        $("#btnSearch").css({"background-color": "white", "border": "1px solid #337ab7", "color": "#337ab7","padding": "1px 6px"});

    
        var category= "";
        //var location=$("#listing_location_list").val();
        //var keyword=$("#listing_keword").val();
        //var type=$("#listing_rent_listGeneral").val();
        $('#page-selection').bootpag({
            total: @Model.PageCount,
            page:@Model.CurrentPageIndex,
            leaps: true,
            firstLastUse: true,
            first: 'First',
            last: 'Last'
        }).on('page', function(event, num){
            $(".loader-wrap").show();
            filterAdds("",num);
        })
        $("#listing_catagory").change(function () {
            category = $("#listing_catagory").val();
           ShowCategoryFilter();
        });

        $("#listing_location_list").change(function () {
            category = $("#listing_catagory").val();
          // lt= $("#listing_location_list").attr("lt");

            //ShowCategoryFilter();
           // filterAdds("",1);
        });
        $("#listing_keword").change(function () {
            category = $("#listing_catagory").val();
            // ShowCategoryFilter();
           //filterAdds("",1);
        });
        $("#listing_rent_listGeneral").change(function () {
            category = $("#listing_catagory").val();
            // ShowCategoryFilter();
           //filterAdds("",1);
        });


        $("#clearfilter").click(function () {
            $('select').prop('selectedIndex', 0);
        });
        $("#divFilter select").change(function () {
            var filterObj = {};
            switch (category)
            {
                case "Real Estate":
                    filterObj.subCategory=$("#subCategory").val();
                    filterObj.furnishing = $("#furnishing").val();
                    filterObj.availability = $("#consructionStatus").val();
                    filterObj.listedBy = $("#listedBy").val();
                    filterObj.squareFeets = $("#builtupArea").val();
                    filterObj.priceFrom = $("#priceFrom").val();
                    filterObj.priceTo = $("#priceTo").val();
                    filterObj.bedRooms = $("#bedRooms").val();

                    break;
                case "Construction Vehicles":
                case "Transportation Vehicles":
                case "Agricultural Vehicles":
                    filterObj.priceFrom = $("#priceFrom").val();
                    filterObj.priceTo = $("#priceTo").val();
                    filterObj.subCategory=$("#subCategory").val();
                    filterObj.company = $("#company").val();
                    break;
                case "Passenger Vehicles":
                    filterObj.subCategory=$("#subCategory").val();
                    filterObj.company = $("#company").val();
                    filterObj.priceFrom = $("#priceFrom").val();
                    filterObj.PriceTo = $("#PriceTo").val();
                    filterObj.yearFrom = $("#yearFrom").val();
                    filterObj.yearTo = $("#yearTo").val();
                    filterObj.kmFrom = $("#kmFrom").val();
                    filterObj.kmTo = $("#kmTo").val();
                    filterObj.model = $("#model").val();
                    break;
            }
             filterAdds(filterObj,1);
        });
        function filterAdds(selectedValue,pageNum) {

            $.ajax({
                url: '@Url.Action("ApplyFilter")',
                type: 'GET',
                dataType: "html",
                data: { "filterOptions": JSON.stringify(selectedValue),"pageNum":pageNum, "category": category, "location": $("#listing_location_list").val(),"keyword":$("#listing_keword").val(),"type":$("#listing_rent_listGeneral").val() },
                success: function (data) {
                    $("#content").html(data);
                    $(".bloglisting").css("display", "block");
                    $(".loader-wrap").hide();
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                complete: function (data) {

                    //$("#requestOverlay").hide();/*Remove overlay*/
                }

            });
        }

        function ShowCategoryFilter() {

            if ( category== "Select Category") {
                $("#divFilter").hide();
                $("#clearfilter").hide();

            }
            else {
                HideDivs();
                $("#divFilter").show();
                $("#clearfilter").show();
                if(category=="Real Estate")
                {
                    $("#re").show();
                }
                else if(category=="Passenger Vehicles")
                {
                    $("#pv").show();
                }
                else
                {
                    $("#allv").show();
                }

            }
            filterAdds("",1);
            }
        function HideDivs()
        {
            $("#re").hide();
            $("#pv").hide();
            $("#allv").hide();
        }


    });

</script>
