
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("VerifyOTP", "User", FormMethod.Post, new { id = "LoginForm", data_toggle = "validator" }))
{
    <div class="container" style="max-width:970px !important;margin:auto;padding:100px 0 180px 0">
        <span>@ViewBag.Status</span>
        <div>
            <div class="col-md-1">

            </div>

            @*<div class="col-lg-12" align="center" style="background-color:aliceblue;">
                    <div style="margin:auto;width:500px;height:200px;margin-top:5%">
                        <div style="margin:auto;text-align:center"><span><img src="../img/error.png" /></span></div>
                      <div style="font-size:22px;text-align:center;font-family:Verdana">Your Request Has been Timed Out</div><br />
                            <div style="font-size:16px;text-align:center;font-family:Verdana">An unexpected condition was encountered </div>
                            <div style="font-size:16px;text-align:center;font-family:Verdana">our service team has been dispatched to bring it back online</div>
                    </div>
                </div>*@

            <div class="col-md-10 col-xs-12 col-sm-12">
                <div style="width: 100%;top:0;text-align:center;min-height: 300px; border: 1px solid gray; background-image: url(../../images/upimglogo1.png); background-repeat: no-repeat;background-size: cover;background-position: center;">
                    <div style="width:60%;margin:0 auto;padding-top:60px;">
                        <div style="font-size:22px;text-align:center;font-family:Verdana">could not be found on the server <h1>404</h1></div><br />
                        <div style="font-size:16px;text-align:center;font-family:Verdana">contact:<span style="color:#f70;font-weight: bold;font-size: 26px;">9603699900</span> </div>
                        or
                        <div style="font-size:16px;text-align:center;font-family:Verdana">to redirect to home page <a href="~/List/Home">click here</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>

    </div>
}