@model AddsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Classic - A Bootstrap Classified Ads Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responisve, Bootstrap, Html5, Css3, Blog, Classified, Ads, Simple, Clean ">
    <link href="~/Content/Custome/bootstrap.min.css" rel="stylesheet" />
    <link href='http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,300,400italic,600,700,800,800italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/CssNew/color1.css" rel="stylesheet" media="screen" id="color">
    <link href="~/Content/CssNew/demo.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/CssNew/font-awesome.min.css" rel="stylesheet" />

    <style>
        .divbgc {
            background-color: #eae8e8;
        }
    </style>
</head>

<div id="maincontainer">

    <div class="container">
        <!--  breadcrumb -->
        <ul class="breadcrumb">
            <li> <a>Home</a> </li>
            <li class="active">Blog List</li>
        </ul>
        <div class="row mt40">
            <!--  Container -->
            <form class="form-common filter-form filter-header-form">
                <div class="form-group outer-select-field">
                    <a class="input-dropedown-btn catagory-btn" href="javascript:void(0)">
                        <i class="fa fa-bars" aria-hidden="true"></i> Categories
                    </a>
                    <input type="text" class="outer-select-input-box" id="listing_catagory_list" placeholder="Ex: Food, Drink">
                </div>
                <div class="form-group outer-select-field">
                    <a class="input-dropedown-btn location-btn" href="javascript:void(0)">
                        <i class="fa fa-crosshairs" aria-hidden="true"></i> Location
                    </a>
                    <input type="text" class="outer-select-input-box" id="listing_location_list" placeholder="Ex: Food, Drink">
                </div>
                <div class="form-group outer-select-field">
                    <a class="input-dropedown-btn" href="javascript:void(0)">
                        <i class="fa fa-crosshairs" aria-hidden="true"></i> Keword
                    </a>
                    <input type="text" class="outer-select-input-box" id="listing_keword" placeholder="Ex: Food, Drink">
                </div>
                <div class="btn-group">
                    <button type="submit" class="danger-btn">
                        <i class="ti-search" aria-hidden="true"></i>
                        Search
                    </button>

                </div>
            </form>
            <div class="divbgc">
                <!--Sorting-->
                <div class="clearfix" id="cars" style="display:none">
                    <div class="col-xs-6 col-sm-3">
                        <div>
                            <span>Brand Name</span><br>
                            <select class="selectpicker" id="BrandName">
                                <option  selected>Brand</option>
                                <option>Maruti Suzuki</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div>
                            <span>Model</span><br>
                            <select class="selectpicker" id="Model">
                                <option  selected>Model</option>
                                <option>Maruti 800</option>
                                <option>Pirce</option>
                                <option>Date </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="dropdown">
                            <span>Price Range</span><br>
                            <select id="PriceFrom">
                                <option   selected>Price From</option>
                                <option>&#8377;10,000</option>
                                <option>&#8377;50,000</option>
                                <option>&#8377;1,00,000 </option>
                                <option>&#8377;5,00,000</option>
                                <option>&#8377;10,00,000</option>
                            </select>-
                            <select id="PriceTo">
                                <option selected>Price To</option>
                                <option>&#8377;10,000</option>
                                <option>&#8377;50,000</option>
                                <option>&#8377;1,00,000 </option>
                                <option>&#8377;5,00,000</option>
                                <option>&#8377;10,00,000</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="dropdown">
                            <span>Year</span><br>
                            <select class="span1" id="YearFrom">
                                <option  selected>Year From</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                            </select>-<select class="span1" id="YearTo">
                                <option  selected>Year To</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <span>Mileage</span><br>
                            <select class="span1" id="KMDriven">
                                <option   selected>KM Driven</option>
                                <option>1,000</option>
                                <option>10,000</option>
                                <option>20,000 </option>
                                <option>30,000</option>
                                <option>50,000</option>
                                <option>80,000</option>
                                <option>1,00,000</option>
                                <option>1,50,000</option>
                                <option>2,00,000</option>
                            </select>-<select class="span1" id="KMDriven1">
                                <option  selected>KM Driven</option>
                                <option>1,000</option>
                                <option>10,000</option>
                                <option>20,000 </option>
                                <option>30,000</option>
                                <option>50,000</option>
                                <option>80,000</option>
                                <option>1,00,000</option>
                                <option>1,50,000</option>
                                <option>2,00,000</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div>
                            <span>Fuel Type</span><br>
                            <select class="span1" id="FuelType">
                                <option  selected>Fuel</option>
                                <option>All</option>
                                <option>Petrol</option>
                                <option>Diesel </option>
                                <option>LPG</option>
                                <option>CNG&Hybrids</option>
                            </select>
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                <div class="clearfix" id="realestate" style="display:none">
                    <div>
                        <div class="col-xs-6 col-sm-3">
                            <span>Category</span><br>
                            <select class="span1">
                                <option>Select Category</option>
                                <option>All</option>
                                <option>Apartments</option>
                                <option>Houses & Villas</option>
                                <option>Builder Folders</option>
                                <option>Land & Plots</option>
                                <option>Shops & Offices</option>
                                <option>Farm Houses</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <span>Super Builtup Area</span><br>
                            <select class="span1" id="BuitupArea">
                                <option  selected>Builtup Area</option>
                                <option>300 ft²</option>
                                <option>600 ft²</option>
                                <option>900 ft² </option>
                                <option>1,250 ft²</option>
                                <option>1,500 ft²</option>
                                <option>1,750 ft²</option>
                                <option>2,250 ft²</option>
                                <option>2,500 ft²</option>
                                <option>5,000 ft²</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <span>Price Range</span><br>
                            <select id="PriceFrom1">
                                <option  selected>Price From</option>
                                <option>&#8377;10,000</option>
                                <option>&#8377;50,000</option>
                                <option>&#8377;1,00,000 </option>
                                <option>&#8377;5,00,000</option>
                                <option>&#8377;10,00,000</option>
                                <option>&#8377;20,00,000 </option>
                                <option>&#8377;50,00,000</option>
                                <option>&#8377;1,00,00,000</option>
                                <option>&#8377;2,00,00,000 </option>
                                <option>&#8377;5,00,00,000</option>
                            </select>-
                            <select id="PriceTo2">
                                <option  selected>Price To</option>
                                <option>&#8377;10,000</option>
                                <option>&#8377;50,000</option>
                                <option>&#8377;1,00,000 </option>
                                <option>&#8377;5,00,000</option>
                                <option>&#8377;10,00,000</option>
                                <option>&#8377;20,00,000 </option>
                                <option>&#8377;50,00,000</option>
                                <option>&#8377;1,00,00,000</option>
                                <option>&#8377;2,00,00,000 </option>
                                <option>&#8377;5,00,00,000</option>
                            </select>
                        </div>


                    </div>
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    <div class="col-xs-6 col-sm-3">
                        <span>Bed Rooms</span><br>
                        <select name="langOpt[]" id="BedRooms">
                            <option  selected>Bed Rooms</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">4+</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div>
                            <span>Construction Status</span><br>
                            <select class="langOpt" id="ConsructionStatus">
                                <option  selected>Construction Status</option>
                                <option>All</option>
                                <option>Under Construction</option>
                                <option>Ready to Move</option>
                                <option>New Launch</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div>
                            <span>Listed By</span><br>
                            <select class="langOpt" id="ListedBy">
                                <option  selected>Listed By</option>
                                <option>All</option>
                                <option>Owner</option>
                                <option>Dealer</option>
                                <option>Builder</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div>
                            <span>Furnishing</span><br>
                            <select class="langOpt" id="Furnishing">
                                <option  selected>Furnishing</option>
                                <option>All</option>
                                <option>Furnished</option>
                                <option>Unfurnished</option>
                                <option>Semi-Furnished</option>
                            </select>
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                <div class="clearfix" style="float:right">
                    <a class="ex1" id="clearfilter" style="color:dodgerblue" href="#">&times;&nbsp;&nbsp;&nbsp;Clear filters</a>
                </div>
            </div>
        </div>
        <!-- Listing-->
        <div class="mt40" id="bloglist">

            @Html.Partial("DisplayAdds", Model)

        </div>
    </div>
</div>



<!-- Got to top -->
<a id="gotop"><i class="fa fa-arrow-circle-up"></i></a>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>

<script src="~/Scripts/ScriptsNew/jquery.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/ScriptsNew/jquery.flexslider.js"></script>

<script src="~/Scripts/ScriptsNew/zoomsl-3.0.min.js"></script>

<script src="~/Scripts/ScriptsNew/all.js"></script>

<script src="~/Scripts/custom.js"></script>
<script src="~/Scripts/ScriptsNew/jquery.bootpag.min.js"></script>
@*<script src="~/Scripts/ScriptsNew/jquery.multiselect.js"></script>
    <link href="~/Content/jquery.multiselect.css" rel="stylesheet" />*@
@section Styles {
    <link href="@Url.Content("~/Content/CustomeNew/Index1.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CssNew/responsive.css")" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/CssNew/style.css")" rel="stylesheet" />*@
}
<script>
    $(document).ready(function () {

        var category = "cars";
        if (category == "cars") {
            $("#cars").show();
        }
        else if (category == "realestate") {
            $("#realestate").show();
        }

        $("#clearfilter").click(function () {
            $('select').prop('selectedIndex', 0);
        });
        $("select").change(function () {
            var car = {};
            car.model = $("#Model").val();
            car.kmdriven = $("#KMDriven").val();
            car.price = $("#PriceFrom").val();

            filterAdds(car);
        });
        function filterAdds(selectedValue) {

</script>

@*<script type="text/javascript">
        $(function () {
            $('.multiselect-ui').multiselect({
                includeSelectAllOption: true
            });
        });
    </script>
    <script type="text/javascript">
        $('.langOpt').multiselect({
            columns: 1,
            placeholder: 'Bed Rooms',
            search: true,
            selectAll: true
        });
    </script>*@



        }
    });

</script>
