@model AddsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Classic - A Bootstrap Classified Ads Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responisve, Bootstrap, Html5, Css3, Blog, Classified, Ads, Simple, Clean ">
    <!-- CSS -->
    @*<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">*@
    @*<link href="~/Content/CssNew/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/Custome/bootstrap.min.css" rel="stylesheet" />

    <!-- Google Webfont -->
    <link href='http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,300,400italic,600,700,800,800italic' rel='stylesheet' type='text/css'>
    <!-- Main Css -->
    <link href="~/Content/CssNew/color1.css" rel="stylesheet" media="screen" id="color">
    @*<link href="~/Content/CssNew/color1.css" rel="stylesheet" />*@
    @*<link href="css/demo.css" rel="stylesheet">*@
    <link href="~/Content/CssNew/demo.css" rel="stylesheet" />
    <!-- Font Icon -->
    @*<link href="css/font-awesome.min.css" rel="stylesheet" media="screen">*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/CssNew/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
         <![endif]-->
</head>

    <div id="maincontainer">

        <div class="container">
            <!--  breadcrumb -->
            <ul class="breadcrumb">
                <li> <a>Home</a> </li>
                <li class="active">Blog List</li>
            </ul>
            <div class="row mt40">
                <!--  Sideabar -->
                <aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!--Caegogries-->
                    <div class="sidemodule">
                        @*<h2 class="heading5"><span class="maintext"> Category</span></h2>
                        <ul class="nav nav-list categories">
                            <li> <a href="#">Real Estate </a></li>
                            <li> <a href="#">Services </a></li>
                            <li>
                                <a href="#">Electronics </a>
                                <ul class="nav nav-list">
                                    <li>
                                        <a href="#">Mobiles & Tablets </a>
                                        <ul class="nav nav-list">
                                            <li class="active"> <a href="#">Mobile Phones </a> </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>*@
                    </div>
                    <!-- Latest Blog-->
                    <div class="mt40">
                        @*<h5 class="heading5"><span class="maintext">Latest Blog</span></h5>
                        <div id="latestblog">
                            <ul>
                                <li>
                                    <img class="pull-left" width="100" title="blog" alt="blog" src="img/blog1.jpg">
                                    <div class="blogdate"> <span class="blogicon"><i class="fa fa-calendar"></i> September 5, 2013 </span> <span class="blogicon"><a><i class="fa fa-comment"></i> 5 Comments</a> </span> <span class="blogicon"><a class="orange"><i class="fa fa-user"></i> by : pxcreate </a> </span> </div>
                                    <a href="blog.html" class="blogtitle">Lorem Ipsum is simply dummy...</a>
                                </li>
                                <li>
                                    <img class="pull-left" width="100" title="blog" alt="blog" src="img/blog1.jpg">
                                    <div class="blogdate"> <span class="blogicon"><i class="fa fa-calendar"></i> September 5, 2013 </span> <span class="blogicon"><a><i class="fa fa-comment"></i> 5 Comments</a> </span> <span class="blogicon"><a class="orange"><i class="fa fa-user"></i> by : pxcreate </a> </span> </div>
                                    <a href="blog.html" class="blogtitle">Dummy text of the printing text...</a>
                                </li>
                            </ul>
                        </div>*@
                    </div>
                    <!-- Cloud Plgin-->
                    <div class="mt40">
                        @*<h5 class="heading5"><span class="maintext">Cloud</span></h5>
                        <div id="cloud"></div>*@
                    </div>
                    <!--Latest News-->
                    <div class="mt40">
                        @*<h5 class="heading5"><span class="maintext">Latest News</span></h5>
                        <div id="latestnews">
                            <ul>
                                <li>
                                    <div class="date">
                                        <span class="datetext">25</span><br>
                                        March 2014
                                    </div>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting dummy text of industry. <a href="#"> Read more</a>
                                </li>
                                <li>
                                    <div class="date">
                                        <span class="datetext">05</span><br>
                                        Jan 2014
                                    </div>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a Latin.<a href="#"> Read more</a>
                                </li>
                            </ul>
                        </div>*@
                    </div>
                    <!-- Ad Banner-->
                    @*<div class="mt40 banner"> <img title="Banner" alt="Banner" src="img/ad1.jpg"> </div>*@
                </aside>
                <!--  Container -->
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 mt40column">
                    <!--Sorting-->
                    <div class="sorting well">
                        <form class="form-inline pull-left">
                            Sort By :
                            <select class="span2">
                                <option>Default</option>
                                <option>Name</option>
                                <option>Pirce</option>
                                <option>Date </option>
                            </select>
                            &nbsp;&nbsp;
                            Show:
                            <select class="span1">
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                            </select>
                        </form>
                        <div class="btn-group pull-right">
                            <button class="btn btn-orange" id="list"><i class="fa fa-th-list fa-white"></i> </button>
                            <button class="btn " id="grid"><i class="fa fa-th fa "></i></button>
                        </div>
                    </div>
                    <!-- Listing-->
                      <div class="mt40" id="bloglist">
                        @Html.Partial("DisplayAdds",Model)
                        </div>
                    </div>
                </div>
            </div>
    </div>
        
        <!-- Got to top -->
        <a id="gotop"><i class="fa fa-arrow-circle-up"></i></a>
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    @*<script src="js/jquery.js"></script>*@
    <script src="~/Scripts/ScriptsNew/jquery.js"></script>
    @*<script src="js/jquery-migrate-1.2.1.js"></script>*@
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @*<script src="js/bootstrap.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- include jQuery + carouFredSel plugin -->
    @*<script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>*@
    @*<script src="~/Scripts/ScriptsNew/jquery.carouFredSel-6.2.1-packed.js"></script>*@

    <!-- Flex slider Blog-->
    @*<script src="js/jquery.flexslider.js"></script>*@
    <script src="~/Scripts/ScriptsNew/jquery.flexslider.js"></script>

    <!-- Jquery zoom on detail page-->
    @*<script src="js/zoomsl-3.0.min.js"></script>*@
    <script src="~/Scripts/ScriptsNew/zoomsl-3.0.min.js"></script>
    <!-- Jquery Validation-->
    @*<script type="text/javascript" src="js/jquery.validate.js"></script>*@
    <!-- Jquery Latest Tweet-->
    @*<script type="text/javascript" src="js/jquery.tweet.js"></script>*@
    <!-- Jquery Countdown-->
    @*<script type="text/javascript" src="js/jquery.countdown.js"></script>*@
    <!-- Social -->
    @*<script type="text/javascript" src="js/socialstream.jquery.js"></script>*@
    <!-- Jquery Map -->
    @*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="js/jquery.gmap.js"></script>*@
    <!-- Sparkline -->
    @*<script type="text/javascript" src="js/jquery.sparkline.min.js"></script>*@

    <!-- Cloud -->
    @*<script type="text/javascript" src="js/jqcloud-1.0.4.js"></script>*@
    <!-- Ratina View -->
    @*<script type="text/javascript" src="js/retina-1.1.0.min.js"></script>*@
    @*<script src="~/Scripts/ScriptsNew/retina-1.1.0.min.js"></script>*@
    <script src="~/Scripts/ScriptsNew/all.js"></script>
    @*<script src="~/Scripts/ScriptsNew/jquery.sparkline.min.js"></script>*@
    <!-- Custom -->
    @*<script src="js/custom.js"></script>*@
    <script src="~/Scripts/custom.js"></script>
    <script type="text/javascript">
        function getAddsbyPage(pageNum)
        {
            var page = parseInt(pageNum); 
            
            $.ajax({
                url: '@Url.Action("DisplayAdds")',
                type: 'POST',
                dataType: "html",
                data: { "currentPageIndex": page },
                success: function (data) {
                    //var htmlData = $.parseHTML(data);
                    $("#bloglist").html(data);
                    $(".bloglisting").css("display", "block");
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
            
        }
        $(document).ready(function () {
            @*$('.page-number').click(function () {
                var page = parseInt($(this).html());

                $.ajax({
                    url: '@Url.Action("DisplayAdds")',
                    type: 'POST',
                    dataType: "html",
                    data: { "currentPageIndex": page },
                    success: function (data) {
                        //var htmlData = $.parseHTML(data);
                        $("#bloglist").html(data);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });*@
        });
             


    </script>
