
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row loginform" style="max-width:970px !important;margin:auto;">
    <div class="col-md-2">

    </div>
    <div class="col-md-8" style="padding-top:30px">
        <p>Login</p>
        <div style="border:1px solid #ddd9d9;padding:20px 20px 0 20px;border-radius:5px;">

            <div class="row form-group">

                <div class="col-md-3">
                    Email or Phone

                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" />
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    Password

                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" />
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <input id="checkbox2" type="checkbox">
                    <label for="checkbox2" style="font-weight:normal">
                        Remember me
                    </label>


                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div style="background-color:#ddd9d9;padding:10px;text-align:center;border:1px solid #ddd9d9;border-radius:5px">
                        @*<input type="button" class="btn btn-primary" value="Log in" style="width:100px"/>*@
                        <a href="~/User/Home" class="btn btn-primary" style="width:100px">Log in</a>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="row form-group">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="~/User/UnableToLogin">Unable to Login?</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">

                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 text-right">
                            <a href="~/User/Register">Register</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <hr />
            <div class="row form-group  center-block">
                <div class="col-md-12 text-center">
                    <a href="#">Login with phone & OTP</a>
                </div>

            </div>


        </div>
        <div class="row form-group" style="padding-top:20px">
            <div class="col-md-6 text-center">
                @*<a onlogin="checkLoginState()" class="btn btn-success" style="background-color:#4e6cab;color:#fff;border:1px double #4e6cab">
                        <span class="fa fa-facebook-f"></span> Sign in using Facebook
                    </a>*@

                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="btn btn-success" style="background-color:#4e6cab;color:#fff;border:1px double #4e6cab">
                </fb:login-button>
            </div>
            <div class="col-md-6 text-center">
                @*<a  class="btn btn-success " style="background-color:#dd4b39;color:#fff;border:1px double #dd4b39" data-onsuccess="onSignIn">
                        <span class="fa fa-google-plus"></span> Sign in using Google
                    </a>*@
                <div class="g-signin2 btn btn-success" data-onsuccess="onSignIn" style="background-color:#dd4b39;color:#fff;border:1px double #dd4b39">

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                By logging in, you accept our <a href="#"> Terms of Use</a>
            </div>

        </div>

    </div>
    <div class="col-md-2">

    </div>
</div>



@section Styles {
    <meta name="google-signin-client_id" content="443252547392-5hvtt0c60miftkn14hudh9p7q43ctvl2.apps.googleusercontent.com">
    <link href="@Url.Content("~/Content/Custome/account.css")" rel="stylesheet" type="text/css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/Scripts/Custome/Custom.js" async defer></script>

}
<script type="text/javascript">
    function onSignIn(googleUser) {
       // RegisterUser();
        RegisterUser(googleUser.getBasicProfile());
        //console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
       // console.log('Name: ' + profile.getName());
        //console.log('Image URL: ' + profile.getImageUrl());
        //console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      //document.getElementById('status').innerHTML = 'Please log ' +
        //'into this app.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
        appId: '1786143171680016',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });

    // Now that we've initialized the JavaScript SDK, we call
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
        console.log('Successful login for: ' + response.id);

    });
  }
</script>