@model LoginWithOTP
@{
    ViewBag.Title = "LoginWithOtp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>LoginWithOtp</h2>*@

@using (Html.BeginForm("LoginWithOtp", "User", FormMethod.Post, new { id = "LoginForm", data_toggle = "validator" }))
{
    <div class="container" style="max-width:970px !important;margin:auto;padding:80px 0 160px 0;">
       
        <div>
            <div class="col-md-3">

            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="registration-form-block">
                    <div class="registration-form-title">
                        @*<h4>Login with OTP</h4>*@
                    </div>
                    <div class="form-block">
                        <span name="status">@ViewBag.Status</span>
                        <br />
                        <form class="form-common">
                           
                            <div class="form-group">
                                <label for="userName">Phone Number *</label>
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @data_error = "Please enter a valid  PhoneNumber.", @class = "form-control", pattern = @"^(\d{10})$", @placeholder = "Phone Number", required = "required", style = "height: auto;font-size: 14px;padding: 11px 0 11px 30px;border-radius: 3px;border: 1px solid #e7e7e7; background: transparent;" })
                                <div class="help-block with-errors"></div>
                                <input type="submit" value="GetOTP" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-3">

            </div>
        </div>

    </div>
}
@section Styles {
    @*<link href="~/Content/CustomeNew/Index1.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/Custome/account.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ScriptsNew/bootstrapvalidator.min.js"></script>
}
