@model User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { data_toggle = "validator" }))
{ 
    <div class="panel panel-primary row loginform" style="max-width:970px !important;margin:auto;">
        <div class="panel-heading">Registration</div>
        <div class="panel-body">
                <div class="col-md-1">

                </div>
                <div class="col-md-10" style="padding-top:30px">
                   
                    <div >
                        <span name="status">@ViewBag.status</span>
                        <br />
                        <div class="row form-group">

                            <div class="col-md-7">
                                <div class="row form-group">
                                    <div class="col-md-3 text-left">

                                        <label class="control-label" for="inputPhone">Phone</label>
                                    </div>
                                    <div class="col-md-9">

                                        <input class="form-control" pattern="^\d{10}$" data-error="Please enter a valid 10 digit Phone Number." id="inputPhone" name="inputPhone" placeholder="Phone Number" type="text" required />
                                        <div class="help-block with-errors"></div>

                                    </div>

                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3 text-left">

                                        <label for="inputPassword" class="control-label">Password</label>
                                    </div>
                                    <div class="col-md-9">
                                       
                                        <input type="password" data-minlength="5" maxlength="20" class="form-control" id="inputPassword" name="inputPassword" data-error="Please enter a minimum of 5 letters Password." placeholder="Password" required />
                                        <div class="help-block with-errors"></div>
                                    </div>

                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3 text-left">

                                        <label class="control-label" for="inputName">Name</label>
                                    </div>
                                    <div class="col-md-9">
                                    
                                        <input class="form-control" data-minlength="2" maxlength="20" pattern="^[A-z]+$" data-error="Please enter a minimum of 2 characters Name." id="inputName" name="inputName" placeholder="Name" type="text" required />
                                        <div class="help-block with-errors"></div>
                                    </div>

                                </div>

                            </div>
                          
                        </div>
                        <div class="row form-group">

                            <div class="col-md-12">

                                <div class="row form-group">
                                    <div class="col-md-2 text-right">

                                    </div>
                                    <div class="col-md-10" style="padding-right:0;padding-left:0">
                                        <label style="font-weight:normal" for="inputAccept" >
                                        <input id="inputAccept" type="checkbox" required data-error="required"/>

                                            <span style="color:red">*</span>By registering on Classigoo, you accept our <a href="#"> Terms of Use</a>
                                        </label>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                </div>
                            </div>
                           
                        </div>
                        <div class="row form-group">
                            <div class="col-md-7">

                                <div class="row form-group">
                                    <div class="col-md-3 text-right">

                                    </div>
                                    <div class="col-md-9" style="padding-right:0">
                                        <input type="submit" class="btn btn-primary" value="Register" style="width:100px" />
                                    </div>

                                </div>
                            </div>
                          
                        </div>


                    </div>


                </div>
          
        </div>
    </div>

}
   
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Custome/account.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/ScriptsNew/bootstrapvalidator.min.js"></script>