@model User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { data_toggle = "validator" }))
{

    <div>
        <div class="breadcrumb-block">

        </div>

        <div class="user-form-block">
            <div class="container" style="max-width:970px !important;margin:auto;">
                <div class="row">

                    <div class="col-md-3">
                       
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-12">
                        <div class="registration-form-block">
                            <div class="registration-form-title">
                                <span name="status">@ViewBag.status</span>
                                <h4>Registration</h4>
                            </div>
                            <div class="form-block">
                             
                                <form class="form-common">
                                    <div class="form-group">
                                        <label for="userName">Phone *</label>
                                        <input type="text" class="form-control" pattern="^\d{10}$" id="inputPhone" name="inputPhone" placeholder="Enter your PhoneNumber" data-error="Please enter a valid  PhoneNumber." required style="height: auto;font-size: 14px;padding: 11px 0 11px 30px;border-radius: 3px;border: 1px solid #e7e7e7; background: transparent;">
                                        <div class="help-block with-errors"></div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password *</label>

                                        <input type="password" data-minlength="5" maxlength="10" class="form-control" id="inputPassword" name="inputPassword" data-error="Please enter a Password." placeholder="Password" required style="height: auto;font-size: 14px;padding: 11px 0 11px 30px;border-radius: 3px;border: 1px solid #e7e7e7; background: transparent;">                                        
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Name</label>

                                        <input type="text" data-minlength="2" maxlength="20" pattern="^[A-z]+$"  class="form-control" id="inputName" name="inputName" data-error="Please enter name." placeholder="name" required style="height: auto;font-size: 14px;padding: 11px 0 11px 30px;border-radius: 3px;border: 1px solid #e7e7e7; background: transparent;">
                                       
                                        <div class="help-block with-errors"></div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <div class="form-btn-block">
                                            <button type="submit" class="form-btn">Register</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="signin-others-option-block">
                                    or
                                    <p>Login with your social media network</p>
                                    <div class="social-icon-btn-group-detail">
                                    
                                        <div class="btn btn-success"  style="background-color:#3b5998;color:#fff;border:1px double #3b5998">
                                            <fb:login-button scope="public_profile,email" onlogin="checkLoginState()" class="icon-btn-fb">
                                                <i class="fa fa-facebook"></i> Facebook
                                            </fb:login-button>
                                        </div>
                                        @*<div class="col-md-6 text-center">*@
                                            <div class="g-signin2 btn" data-onsuccess="onSignIn" onclick="ClickLogin()"
                                                 @*style="background-color:#dd4b39;color:#fff;border:1px double #dd4b39"*@>
                                                <gplus:login-button scope="public_profile,email" class="icon-btn-gplus">
                                                    <i class="fa fa-google-plus"></i>&nbsp;&nbsp; Google +
                                                </gplus:login-button>

                                            </div>
                                            @*</div>*@
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- panel -->
                    </div>

                    <div class="col-md-3">

                    </div>
                </div>
            </div>
        </div>

    </div>


}
   
<meta name="google-signin-client_id" content="443252547392-5hvtt0c60miftkn14hudh9p7q43ctvl2.apps.googleusercontent.com">
@section Styles {

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CustomeNew/Index1.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Custome/account.css" rel="stylesheet" />

}


@section scripts{
    <script src="~/Scripts/Custome/Custom.js" type="text/javascript"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ScriptsNew/bootstrapvalidator.min.js"></script>
}

