
@{
    ViewBag.Title = "ShowAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wraper">

    <div class="col-md-12" style="background-color:white;">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadNavigation" style="background-color:white;">
                    <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li class="active"><span>Dashboard</span></li>
                    <li class="active"><span>Dashboard</span></li>
                    <li class="active"><span>Dashboard</span></li>
                </ol>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <ol class="breadPreNext" style="background-color:white;">
                <li><a href="#"><span>< back to last search results </span></a>  </li>
                <li class="pull-right"><a href="#"><span>Next >  </span></a>  </li>
                <li class="pull-right"><a href="#"><span>< Previous</span></a>  </li>
                @*<li >
                        <a href="#"> <span> Next &gt;</span></a>
                    </li>
                    <li >
                        <a href="#"> <span> &lt;Previous </span></a>
                    </li>*@

            </ol>
        </div>
    </div>
    <div class="col-md-12" style="height:5px;">

    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <div class="row" style="min-height:40px;background-color:white">
                    <div class="col-md-12">
                        <span style="font-size:28px">2012 Innova G4 Diesel Mag Wheels INR. 9.25 Lakh Single Own</span>
                    </div>
                    <div class="col-md-12">
                        <span style="font-size:14px">Panjagutta,Hyderabad | Added on 4 Feb</span>
                    </div>
                </div>
                <div class="row" style="height:5px;">

                </div>
                <div class="row" style="background-color:white">
                    <div class="col-md-12" style="min-height:400px;width:100%;text-align:center">

                        <img src="~/images/icons/book/book-books.png" style="height:400px;width:80%;" />
                    </div>
                </div>
                <div class="row" style="height:5px;">

                </div>
                <div class="row" style="background-color:white">
                    <div class="col-md-2" style="min-height:50px;padding:5px;">

                        <img src="~/images/icons/book/book-books.png" />
                    </div>
                    <div class="col-md-2" style="min-height:50px;padding:5px;">

                        <img src="~/images/icons/book/book-books.png" />
                    </div>
                    <div class="col-md-2" style="min-height:50px;padding:5px;">

                        <img src="~/images/icons/book/book-books.png" />
                    </div>
                    <div class="col-md-2" style="min-height:50px;padding:5px;">

                        <img src="~/images/icons/book/book-books.png" />
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
                <div class="row" style="height:5px;">

                </div>
                <div class="row" style="background-color:white">
                    <div class="col-md-4" style="min-height:50px;padding:5px;">

                        <span><b>Price per ft2:</b></span><br />
                        <span>12300</span>
                    </div>
                    <div class="col-md-4" style="min-height:50px;padding:5px;">

                        <span><b>Bedrooms:</b></span><br />
                        <span>3</span>
                    </div>
                    <div class="col-md-4" style="min-height:50px;padding:5px;">

                        <span><b>Furnishing:</b></span><br />
                        <span>Semi-Furnished</span>
                    </div>
                </div>
                <div class="row" style="background-color:white">
                    <div class="col-md-4" style="min-height:50px;padding:5px;">

                        <span><b>Availability:</b></span><br />
                        <span>Ready to Move</span>
                    </div>
                    <div class="col-md-4" style="min-height:50px;padding:5px;">

                        <span><b>Listed By:</b></span><br />
                        <span>Builder</span>
                    </div>
                    <div class="col-md-4" style="min-height:50px;padding:5px;">

                        <span><b>Square feet:</b></span><br />
                        <span>1,663 ft2</span>
                    </div>
                </div>
                <div class="row" style="background-color:white">
                    <div class="col-md-12" style="min-height:50px;padding:5px;">
                        <div>
                            Gannavaram is a posh locality and it is also mandal headquarters located in Krishna district of Andhra Pradesh, India. It is situated at a distance of 20 kilometers from the city of Vijayawada on National Highway 5 connecting Chennai to Kolkata. Gannavaram is known for its airport and weather reporting station. This locality is well connected school, collage, market, hospital and petrol pump. It is a very good and well developed locality, having market and other amenities
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="row" style="padding:0 15px 15px 15px;border:1px solid white;border-radius:7px;background-color:white;margin-left:5px;">
                    <div class="col-md-12" style="height:80px;border:1px solid white;text-align:center;border-radius:76px 1px 1px 1px;padding-top:10px;background-color:#fe610c">
                        @*<div style="width:5%;float:left;background-color:white;border-radius:100%;padding:2px;margin-top:10px">
                                &nbsp;
                            </div>
                            <div style="width:80%;float:right">
                                <span style="text-align:center;color:white;font-size:36px">&#8377;12500000</span>
                            </div>*@
                        <span style="text-align:center;color:white;font-size:36px">&#8377;12500000</span>
                        @*<span style="font-size:30px;text-align:center">120000</span>*@
                        @*<span class="pricetag"><span style="text-align:center;color:white;margin:50px 0 0 20px">1500000</span></span>*@
                    </div>
                </div>
                <div class="row" style="height:5px;">

                </div>
                <div class="row" style="padding:15px 15px 15px 15px;border:1px solid white;border-radius:7px;background-color:white;margin-left:5px;">
                    <div class="col-md-12">
                        <span style="font-size:18px;">User Profile</span>
                    </div>
                    <div class="col-md-12" style="padding-top:10px">
                        <div class="row">
                            <div class="col-md-2">
                                <div style="height:30px;width:30px;border-radius:100px;border:1px solid #fe610c;padding:5px 0 0 6px">
                                    <span class="glyphicon glyphicon-user"></span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <span style="font-size:22px">Suresh Kareti</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-2" style="padding:5px 0 0 15px;">
                                        <div style="height:10px;width:10px;border-radius:100px;border:1px solid green;background-color:green">

                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <span>online status</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top:15px;">
                            <div class="col-md-2">
                                <div style="height:30px;width:30px;border-radius:100px;border:1px solid #fe610c;padding:5px 0 0 6px">
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <span style="font-size:16px"><b>Registered:</b></span>
                                <span style="font-size:14px">9+ months ago</span>
                            </div>
                        </div>
                        <div class="row" style="padding-top:15px;">
                            <div class="col-md-2">
                                <div style="height:30px;width:30px;border-radius:100px;border:1px solid #fe610c;padding:2px 0px 0px 10px">
                                    <span class="fa fa-mobile" style="font-size:24px;"></span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <span style="font-size:16px"><b>Mobile:</b></span>
                                <span style="font-size:14px">Verifyed</span>
                            </div>
                        </div>
                        <div class="row" style="padding-top:15px;">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                                <a href="#" style="text-decoration:none"> <span style="font-size:16px"><b>All Adds By This User</b></span></a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="height:5px;">

                </div>
                <div class="row" style="padding:15px 15px 15px 15px;border:1px solid white;border-radius:7px;background-color:white;margin-left:5px;">
                    <div class="col-md-12" style="height:60px;border:1px solid white;text-align:center;border-radius:5px;padding-top:15px;background-color:#fe610c">

                        <span style="text-align:center;color:white;font-size:18px;">Login to Chat</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles{
    <link href="@Url.Content("~/Content/Custome/PreviewAdd.css")" rel="stylesheet" type="text/css" />
}

