
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="grid-menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="left-container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="grid grid-1">
                                <span class="image">
                                    <img src="~/images/pic01.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h3>heading1</h3>
                                    <!--<div class="content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>-->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid grid-2">
                                <span class="image">
                                    <img src="~/images/bike.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h3>heading 2</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid grid-3">
                                <span class="image">
                                    <img src="~/images/car.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h3>heading 3</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid grid-4">
                                <span class="image">
                                    <img src="~/images/pic01.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h3>heading 4</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid grid-5">
                                <span class="image">
                                    <img src="~/images/bike.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h3>heading 5</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid grid-6">
                                <span class="image">
                                    <img src="~/images/car.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h3>heading 6</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid grid-7">
                                <span class="image">
                                    <img src="~/images/pic01.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h3>heading 7</h3>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="grid grid-8">
                                <span class="image">
                                    <img src="~/images/bike.jpg" alt="">
                                </span>
                                <a href="generic.html">
                                    <h3>heading 8</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="right-container">

                </div>
            </div>
        </div>
    </div>
</div>
<section >
    <div class="container">
        <div class="slider-container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="regular slider">
                        <div>
                            <img src="http://placehold.it/150x150?text=1">
                        </div>
                        <div>
                            <img src="http://placehold.it/150x150?text=2">
                        </div>
                        <div>
                            <img src="http://placehold.it/150x150?text=3">
                        </div>
                        <div>
                            <img src="http://placehold.it/150x150?text=4">
                        </div>
                        <div>
                            <img src="http://placehold.it/150x150?text=5">
                        </div>
                        <div>
                            <img src="http://placehold.it/150x150?text=6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@section Styles {
    <link href="@Url.Content("~/Content/Custome/home.css")" rel="stylesheet" type="text/css" />
}