
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main nav section -->
<div class="main-header-section" style="width:100%">
    <div class="container">
        <div class="header-content-block">
            <div class="header-title-block">
                <h2>Explore Your City</h2>
                <p>
                    @*Discover what makes you feel better to sale or buy.*@
                    Search from over 15,00,000 classifieds & Post unlimited classifieds free!
                </p>
            </div>
            <div>

                @Html.Partial("_LoadData")

            </div>
        </div>
        <!-- header-content-block -->
    </div>
    <div class="overlay"></div>
</div>
<!-- main-header section -->
<!--Categories start-->
<div class="popular-cities-section" style="max-width:970px !important;margin:auto;">
    <div class="container-fluid">
        <div class="section-title">
            <h2>Categories</h2>
            <p>Find out & explore new businesses near your area and see what's happening !!!</p>
        </div>

        <div class="row categories-service">
            <div class="col-md-4 col-sm-6">
                <div class="categorybox">
                    <div class="icon"><i class="fa fa-home" aria-hidden="true"></i></div>
                    <h4><a href="#">Properties</a></h4>

                    <div class="categories">
                        <a href="#">For Rent ( 20 )</a>
                    </div>
                    <div class="categories">
                        <a href="#">For Sale ( 20 )</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="categorybox">
                    <div class="icon"><i class="fa fa-ship" aria-hidden="true"></i></div>
                    <h4><a href="#">Construction Vehicles</a></h4>

                    <div class="categories">
                        <a href="#">For Rent ( 20 )</a>
                    </div>
                    <div class="categories">
                        <a href="#">For Sale ( 20 )</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="categorybox">
                    <div class="icon"><i class="fa fa-train" aria-hidden="true"></i></div>
                    <h4><a href="#">Transportation Vehicles</a></h4>

                    <div class="categories">
                        <a href="#">For Rent ( 20 )</a>
                    </div>
                    <div class="categories">
                        <a href="#">For Sale ( 20 )</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row categories-service" style="margin-top:0px">
            <div class="col-md-4 col-sm-6">
                <div class="categorybox">
                    <div class="icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <h4><a href="#">Agricultural Vehicles</a></h4>

                    <div class="categories">
                        <a href="#">For Rent ( 20 )</a>
                    </div>
                    <div class="categories">
                        <a href="#">For Sale ( 20 )</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="categorybox">
                    <div class="icon"><i class="fa fa-bus" aria-hidden="true"></i></div>
                    <h4><a href="#">Passenger Vehicles</a></h4>

                    <div class="categories">
                        <a href="#">For Rent ( 20 )</a>
                    </div>
                    <div class="categories">
                        <a href="#">For Sale ( 20 )</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="categorybox">
                    <div class="icon"><i class="fa fa-car" aria-hidden="true"></i></div>
                    <h4><a href="#">Cars</a></h4>

                    <div class="categories">
                        <a href="#">For Rent ( 20 )</a>
                    </div>
                    <div class="categories">
                        <a href="#">For Sale ( 20 )</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row categories-service" style="margin-top:0px">
            <div class="col-md-4 col-sm-6">
                <div class="categorybox" style="min-height:140px">
                    <div class="icon"><i class="fa fa-motorcycle" aria-hidden="true"></i></div>
                    <h4><a href="#">Bikes</a></h4>


                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="categorybox" style="min-height:140px">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <h4><a href="#">Mobiles & Electronics</a></h4>


                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="categorybox" style="min-height:140px">
                    <div class="icon"><i class="fa fa-gear" aria-hidden="true"></i></div>
                    <h4><a href="#">All Vehicles Hire/Engage / Lease </a></h4>


                </div>
            </div>
        </div>
    </div>
</div>
<!--Categories end-->



@section Styles {
    <link href="@Url.Content("~/Content/CustomeNew/Index1.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CssNew/responsive.css")" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/CssNew/style.css")" rel="stylesheet" />*@
}
