
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="grid-menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="grid grid-1">
                    <span class="image">
                        <img src="~/images/pic01.jpg" alt="">
                    </span>
                    <a href="generic.html">
                        <h2>heading1</h2>
                        <div class="content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="grid grid-2">
                    <span class="image">
                        <img src="~/images/pic02.jpg" alt="">
                    </span>
                    <a href="generic.html">
                        <h2>heading 2</h2>
                        <div class="content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="grid grid-3">
                    <span class="image">
                        <img src="~/images/pic03.jpg" alt="">
                    </span>
                    <a href="generic.html">
                        <h2>heading 3</h2>
                        <div class="content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="grid grid-4">
                    <span class="image">
                        <img src="~/images/pic04.jpg" alt="">
                    </span>
                    <a href="generic.html">
                        <h2>heading 4</h2>
                        <div class="content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="grid grid-5">
                    <span class="image">
                        <img src="~/images/pic05.jpg" alt="">
                    </span>
                    <a href="generic.html">
                        <h2>heading 5</h2>
                        <div class="content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="grid grid-6">
                    <span class="image">
                        <img src="~/images/pic06.jpg" alt="">
                    </span>
                    <a href="generic.html">
                        <h2>heading 6</h2>
                        <div class="content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="grid grid-7">
                    <span class="image">
                        <img src="~/images/pic07.jpg" alt="">
                    </span>
                    <a href="generic.html">
                        <h2>heading 7</h2>
                        <div class="content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="grid grid-8">
                    <span class="image">
                        <img src="~/images/pic08.jpg" alt="">
                    </span>
                    <a href="generic.html">
                        <h2>heading 8</h2>
                        <div class="content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Styles {
    <link href="@Url.Content("~/Content/Custome/home.css")" rel="stylesheet" type="text/css" />
}